﻿@{
    ViewBag.Title = "ProjectInfo";
}

<style type="text/css">
    search {
        width: 100%;
    }

    .bs-example {
        margin: 20px;
    }

    .panel-title .glyphicon {
        font-size: 12px;
    }

    body {
        padding: 20px;
    }

    /* form {
        max-width: 500px;
        margin: auto;
    }*/
    /**/
    .aweCheckbox {
        padding-left: 20px;
    }

        .aweCheckbox label {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            padding: 0 20px 0 10px;
            cursor: pointer;
        }

            .aweCheckbox label::before {
                content: "";
                display: inline-block;
                position: absolute;
                width: 17px;
                height: 17px;
                left: 0;
                margin-left: -20px;
                border: 1px solid #cccccc;
                border-radius: 3px;
                background-color: #fff;
                -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            }

            .aweCheckbox label::after {
                display: inline-block;
                position: absolute;
                width: 16px;
                height: 16px;
                left: 0;
                top: 0;
                margin-left: -20px;
                padding-left: 3px;
                padding-top: 1px;
                font-size: 11px;
                color: #555555;
            }

        .aweCheckbox input[type="checkbox"] {
            opacity: 0;
            z-index: 1;
        }

            .aweCheckbox input[type="checkbox"]:focus + label::before {
                outline: thin dotted;
                outline: 5px auto -webkit-focus-ring-color;
                outline-offset: -2px;
            }

            .aweCheckbox input[type="checkbox"]:checked + label::after {
                font-family: "FontAwesome";
                content: "\f00c";
            }

            .aweCheckbox input[type="checkbox"]:indeterminate + label::after {
                display: block;
                content: "";
                width: 10px;
                height: 3px;
                background-color: #555555;
                border-radius: 2px;
                margin-left: -16.5px;
                margin-top: 7px;
            }

            .aweCheckbox input[type="checkbox"]:disabled + label {
                opacity: 0.65;
            }

                .aweCheckbox input[type="checkbox"]:disabled + label::before {
                    background-color: #eeeeee;
                    cursor: not-allowed;
                }

        .aweCheckbox.aweCheckbox-circle label::before {
            border-radius: 50%;
        }

        .aweCheckbox.aweCheckbox-inline {
            margin-top: 0;
        }

    .aweCheckbox-danger input[type="checkbox"]:checked + label::before {
        background-color: #d9534f;
        border-color: #d9534f;
    }

    .aweCheckbox-danger input[type="checkbox"]:checked + label::after {
        color: #fff;
    }

    .aweCheckbox-danger input[type="checkbox"]:indeterminate + label::before {
        background-color: #d9534f;
        border-color: #d9534f;
    }

    .aweCheckbox-danger input[type="checkbox"]:indeterminate + label::after {
        background-color: #fff;
    }

    input[type="checkbox"].styled:checked + label:after {
        font-family: 'FontAwesome';
        content: "\f00c";
    }

    input[type="checkbox"] .styled:checked + label::before {
        color: #fff;
    }

    input[type="checkbox"] .styled:checked + label::after {
        color: #fff;
    }
</style>

@*<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />*@
@*<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" rel="stylesheet" />*@

<form id="ProjectInfoForm">
    <div id="page-wrapper">
        <h1>
            PROJECT INFO
        </h1>
        <!--Log/Information Area Start-->
        <div class="row" id="divLogInformationPanel" style="display:none">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a style="text-decoration:none;"><span class="glyphicon glyphicon-plus"></span>Log/Information</a>
                        </h4>
                    </div>
                    <!-- /.col-lg-12 -->
                    <div id="collapse" class="panel-collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        @*<input type="button" id="btnAdvertisement" value="Advertisement" class="btn btn-primary">*@
                                        @*<label>Type</label>*@
                                        <select id="ddlType" name="Selection" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <select id="ddlType1" name="Selection1" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <input type="button" id="btnReadMode" value="Read Mode" class="btn btn-primary">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <input type="button" id="btnEditMode" value="Edit Mode" class="btn btn-primary">
                                    </div>
                                </div>
                                @*<div class="col-lg-3">
                                    <div class="form-group">
                                        <input type="button" id="btnAdvertisement3" value="Advertisement3" class="btn btn-primary">
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--Log/Information Area End-->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a style="text-decoration:none;"><span class="glyphicon glyphicon-plus"></span>General Project Information</a>
                        </h4>
                    </div>
                    <!-- /.col-lg-12 -->
                    <div id="collapse" class="panel-collapse">
                        <div class="panel-body">
                            <div class="row">

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Contract No.</label>
                                        <input id="txtContractNo" name="ContractNo" type="number" min="0" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Project Name</label>
                                        <input id="txtProjectName" name="ProjectName" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label>State Project No</label>
                                    <div class="form-group">
                                        <input id="txtStateProjectNo" style="width:68%;float:left;margin-right:2%" name="StateProjectNo" type="text" class="form-control">
                                        <input type="button" id="btnGetProjectInfo" value="Get ProjectInfo" class="btn btn-info">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>F.A.P No.</label>
                                        <input id="txtFAPNo" name="FAPNo" type="text" class="form-control">

                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Route</label>
                                        <input id="txtRoute" name="Route" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Parish</label>
                                        <select id="ddlParish" name="Parish" class="form-control" required></select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>General Description</label>
                                        <textarea id="txtGeneralDescription" name="GeneralDescription" type="text" class="form-control" required></textarea>
                                    </div>
                                </div>
                                @*<div class="col-lg-4">

                                                            </div>
                                                        </div>
                                                        @*<div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Estimated Construction Cost</label>
                                        <input id="txtEstimatedConstructionCost" name="EstimatedConstructionCost" type="text" class="form-control" required>
                                    </div>
                                </div>*@

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Selection</label>
                                        <select id="ddlSelection" name="Selection" class="form-control" required></select>
                                    </div>
                                </div>
                                <div class="col-lg-4" style="padding-top: 2em;">
                                    <div class="form-group">
                                        <label>FHWA Full Oversight?</label>
                                        <label class="radio-inline">
                                            <input type="radio" name="rdoFHWAFullOversight" id="rdoFHWAFullOversight1" value="1">Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="rdoFHWAFullOversight" id="rdoFHWAFullOversight2" value="0" checked>No
                                        </label>
                                    </div>
                                </div>
                                @*<div class="col-lg-4" style="padding-top: 2em;">
                                    <div class="form-group">
                                        <label>TIMED Project</label>
                                        <label class="radio-inline">
                                            <input type="radio" name="rdoTimedProject" id="rdoTimedProject1" value="1">Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="rdoTimedProject" id="rdoTimedProject2" value="0" checked>No
                                        </label>
                                    </div>
                                </div>*@
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Contract Type</label>
                                        <select id="ddlContractType" name="ContractType" class="form-control" required></select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Fee Type</label>
                                        <select id="ddlFeeType" name="FeeType" class="form-control" required></select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Compensation Type</label>
                                        <select id="ddlCompensationType" multiple="multiple">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Est Contract Amount</label>
                                        <input id="txtEstContractAmount" name="EstContractAmount" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value=""
                                               data-type="currency" placeholder="$1,000,000.00" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    @*<div class="form-group">
                                        <label>Contract Agency</label>
                                        <input id="txtContractAgency" name="ContractAgency" type="text" class="form-control" required>
                                    </div>*@
                                    <div>
                                        <select class="mdb-select md-form" id="ddlContractAgency" searchable="Search here..">
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>DBE Goal</label>
                                        <input id="txtDBEGoel" name="DBEGoel" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value=""
                                               data-type="percent" placeholder="10.00%" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Comment</label>
                                        <textarea id="txtComment" name="Comment" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-1" id="dvEdit" style="visibility:hidden">
                                    <div class="form-group">
                                        <label>Edit</label>
                                        <button type="button" id="btnEditProjectInfo" class="form-control btn btn-success">EDIT</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--General Project Information Area End-->
        <!-- Consultant Area Start -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a style="text-decoration:none;"><span class="glyphicon glyphicon-plus"></span> Consultant Area</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Project Manager</label>
                                        <select id="ddlProjectManager" name="ProjectManager" class="form-control">
                                            <option value='' selected='selected'>--Select ProjectManager--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Manager Phone</label>
                                        <input id="txtManagerPhone" type="tel" oninput="if(value.length>12)value=value.slice(0,12)" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Consultant/Provider</label>
                                        <select id="ddlConsultantProvider" name="ConsultantProvider" class="form-control"></select>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Contact Person</label>
                                        <input id="txtContactPerson" type="text" name="ContactPerson" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input id="txtTitle" type="text" name="Title" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Job Title</label>
                                        <input id="txtJobTitle" type="text" name="JobTitle" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Fax</label>
                                        <input id="txtFax" name="Fax" type="text" class="form-control">
                                    </div>
                                </div>


                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>TaxID</label>
                                        <input id="txtTaxId" name="TaxId" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input id="txtEmail" name="Email" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input id="txtPhone" type="tel" oninput="if(value.length>12)value=value.slice(0,12)" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Office Address</label>
                                        <textarea id="txtOfficeAddress" name="OfficeAddress" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table table-striped table-bordered table-hover" id="tableSubTab">
                                        <tbody id="tbodySubTab">
                                            <tr class="odd gradeX item" id="tr0">
                                                <td>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label>Sub</label>
                                                            <select id="ddlSub0" name="Sub" class="form-control" onchange="SetTaxId(this); return false;"></select>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label>TaxID</label>
                                                            <input id="txtTaxId0" name="TaxId" type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td><div class="col-lg-12"></div></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group text-right">
                                    <button type="button" id="btnAdd" class="btn btn-primary">Get Consultant</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- Consultant Area End -->
        <!-- Project Tracking Are Start -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a style="text-decoration:none;"><span class="glyphicon glyphicon-plus"></span>Project Tracking</a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Received</label>
                                        <input id="txtReceived" name="Received" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Selection Date</label>
                                        <input id="txtAwardNotification" name="AwardNotification" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Closed</label>
                                        <input id="txtClosed" name="Closed" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Final Invoiced Recvd</label>
                                        <input id="txtFinalInvoicedRecvd" name="FinalInvoicedRecvd" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Final to Acct</label>
                                        <input id="txtFinaltoAcct" name="FinaltoAcct" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Audit Report#</label>
                                        <input id="txtAuditReport" name="AuditReport" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Final Cost</label>
                                        <input id="txtFinalCost" name="FinalCost" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- Project Tracking Are end -->
        <div class="row text-center">
            <div class="col-lg-12">
                <div class="form-group">
                    <input type="button" id="btnSave" value="SAVE" class="btn btn-primary">
                    <input type="button" id="btnCancel" class="btn btn-danger" value="Cancel">
                </div>
            </div>
            <!-- /.col-lg-6 (nested) -->
        </div>
    </div>
</form>

@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://mdbootstrap.com/api/snippets/static/download/MDB-Pro_4.19.2/js/mdb.min.js"></script>
<!-- Material Design Bootstrap -->
<link href="https://mdbootstrap.com/api/snippets/static/download/MDB-Pro_4.19.2/css/mdb.min.css" rel="stylesheet">
@*<script src="~/Scripts/Custom/Common.js"></script>*@
<script src="~/Scripts/Custom/ProjectInfo.js"></script>
