﻿
@{
    ViewBag.Title = "AddUpdateConsultantProvider";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<form id="AddUpdateConsultantProviderInfoForm">
    <div id="page-wrapper">

        <!--Information Area Start-->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a style="text-decoration:none;"><span class="glyphicon glyphicon-plus"></span>Consultant Provider Info</a>
                        </h4>
                    </div>
                    <!-- /.col-lg-12 -->
                    <div id="collapse" class="panel-collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label>ConsultantProvider Name</label>
                                    <div class="form-group">
                                        <input id="txtConsultantProviderName" name="ConsultantProviderName" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Contact Name</label>
                                        <input id="txtContactName" name="ContactName" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input id="txtTitle" name="Title" type="text" class="form-control" required>

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>JobTitle</label>
                                        <input id="txtJobTitle" name="JobTitle" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Fax</label>
                                        <input id="txtFax" name="Fax" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>TaxId</label>
                                        <input id="txtTaxId" name="TaxId" class="form-control" required />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input id="txtEmail" name="Email" type="text" class="form-control" required>
                                    </div>
                                </div>


                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input id="txtPhone" name="Phone" class="form-control" required />
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>OfficeAddress</label>
                                        <input id="txtOfficeAddress" name="OfficeAddress" class="form-control" required />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input id="txtCity" name="City" class="form-control" type="text" required />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>State</label>
                                        <input id="txtState" name="State" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Zip</label>
                                        <input id="txtZip" name="Zip" type="text" class="form-control" required>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Information Area End-->
        <!--Proof of Insurance Start-->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a style="text-decoration:none;"><span class="glyphicon glyphicon-plus"></span>Proof of Insurance</a>
                        </h4>
                    </div>
                    <!-- /.col-lg-12 -->
                    <div id="collapse" class="panel-collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4" style="padding-top: 2em;">
                                    <div class="form-group">
                                        <label>Proof of Insurance:</label>
                                        <label class="radio-inline">
                                            <input type="radio" name="rdoProofofInsurance" id="rdoProofofInsurance1" value="1">Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="rdoProofofInsurance" id="rdoProofofInsurance2" value="0" checked>No
                                        </label>
                                    </div>
                                </div>
                                @*<div class="col-lg-4" style="padding-top: 2em;">
                                    <div class="form-group">
                                        <label>Type of Insurance:</label>
                                        <label class="radio-inline">
                                            <input type="radio" name="rdoTypeofInsurance" id="rdoTypeofInsurance1" value="1">Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="rdoTypeofInsurance" id="rdoTypeofInsurance2" value="0" checked>No
                                        </label>
                                    </div>
                                </div>*@
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Insurance Company:</label>
                                        <input id="txtInsuranceCompany" name="InsuranceCompany" type="text" class="form-control" required>

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Effective Date of Coverage:</label>
                                        <input id="txtEffectiveDateofCoverage" name="EffectiveDateofCoverage" type="date" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Expiration Date of Coverage:</label>
                                        <input id="txtExpirationDateofCoverage" name="ExpirationDateofCoverage" type="date" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-4" style="padding-top: 2em;">
                                    <div class="form-group">
                                        <label>Disclosure of Ownership:</label>
                                        <label class="radio-inline">
                                            <input type="radio" name="rdoDisclosureofOwnership" id="rdoDisclosureofOwnership1" value="1">Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="rdoDisclosureofOwnership" id="rdoDisclosureofOwnership2" value="0" checked>No
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4" style="padding-top: 2em;">
                                    <div class="form-group">
                                        <label>Certificate of Authority:</label>
                                        <label class="radio-inline">
                                            <input type="radio" name="rdoCertificateofAuthority" id="rdoCertificateofAuthority1" value="1">Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="rdoCertificateofAuthority" id="rdoCertificateofAuthority2" value="0" checked>No
                                        </label>
                                    </div>
                                </div>

                                <div class="col-lg-4" style="padding-top: 2em;">
                                    <div class="form-group">
                                        <label>Resolution Certificate :</label>
                                        <label class="radio-inline">
                                            <input type="radio" name="rdoResolutionCertificate" id="rdoResolutionCertificate1" value="1">Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="rdoResolutionCertificate" id="rdoResolutionCertificate2" value="0" checked>No
                                        </label>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Effective Date:</label>
                                        <input id="txtEffectiveDate" name="EffectiveDate" type="date" class="form-control" required />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Person(s) authorized to sign:</label>
                                        <input id="txtPersonAuthorizedToSign" name="PersonAuthorizedToSign" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label>Type:</label>
                                        <input id="txtSoleProprietor" name="checkbox" type="checkbox" title="SoleProprietor" value="SoleProprietor" />SoleProprietor
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">

                                        <input id="txtCorporation" name="checkbox" type="checkbox" title="Corporation" value="Corporation" />Corporation
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">

                                        <input id="txtPartnership" name="checkbox" type="checkbox" title="Partnership" value="Partnership" />Partnership
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">

                                        <input id="txtLimitedLiabilityCorporation" name="checkbox" type="checkbox" title="LimitedLiabilityCorporation" value="LimitedLiabilityCorporation" />LimitedLiabilityCorporation
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">

                                        <input id="txtLimitedLiabilityPartnership" name="checkbox" type="checkbox" title="LimitedLiabilityPartnership" value="LimitedLiabilityPartnership" />LimitedLiabilityPartnership
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <input id="txtCityChk" name="checkbox" type="checkbox" title="City" value="City" />City
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Comments:</label>
                                        <textarea id="txtComments" name="Comments" type="text" class="form-control"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Proof of Insurance End-->

        <div class="row text-center">
            <div class="col-lg-12">
                <div class="form-group">
                    <input type="button" id="btnSave" value="SAVE" class="btn btn-primary">
                    <input type="button" id="btnCancel" class="btn btn-danger" value="Cancel">
                </div>
            </div>
            <!-- /.col-lg-6 (nested) -->
        </div>
    </div>
</form>
<script src="~/Scripts/Custom/AddUpdateConsultantProvider.js"></script>