﻿@{
    ViewBag.Title = "ConsultantProvider";
}

<html>
<head>
</head>
<body>
    <input type="button" id="btnAddd" value="ADD" class="btn btn-primary">
    <table id="tblConsultantProviderInfo" class="display table-bordered" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>ConsultantProviderId</th>
                <th>ConsultantProviderName</th>
                <th>ContactName</th>
                <th>Title</th>
                <th>JobTitle</th>
                <th>Email</th>
                <th>OfficeAddress</th>

            </tr>
        </thead>
    </table>
</body>
</html>
<script src="~/Scripts/Custom/ConsultantProvider.js"></script>
