﻿.error {
    color: red;
}

td.details-control {
    background: url('../../Images/details_open.png') no-repeat center center;
    cursor: pointer;
    width : 120px;
}
tr.shown td.details-control {
    background: url('../../Images/details_close.png') no-repeat center center;
}

details-control {
    width: 50px;
}
.dataTableSubTable {
    width: 23.3%;
    margin-left: 32%;
    font-weight: bold;
    font-size: 18px !important;
    height : 120%;
}
#Content td {
 padding : 5px;
 font-size : 18px;
}

.dataTableSubTableMoneyView {
    width: 96%;
    margin-left: 4%;
    font-weight: bold;
    font-size: 14px !important;
}


.w10 {
    width: 10% !important;
}

.w4 {
    width: 4% !important;
}




