﻿/*-------------------------------------------------
    INDOTD_PRINT_EX.CSS
    LAST UPDATED 20131031 
-------------------------------------------------*/




html, body { /*-------------------------------------------------
    INDOTD_PRINT_EX.CSS
    LAST UPDATED 20131031 
-------------------------------------------------*/
    html, body

{
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    height: 100%;
    margin: 0px;
    min-height: 100%;
    min-width: 800px;
    padding: 0px;
}

html > body {
    overflow: visible;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/*----TOPBAR-----------------------------------------------------------------------------TOPBAR--*/
#TopBar {
    background-color: #339900;
    background-image: url(../../images/bkg_TopBar.gif);
    background-position: center;
    background-repeat: repeat-x;
    border-bottom: solid 1px #339900;
    border-top: solid 1px #339900;
    height: 20px;
    padding-top: 1px;
    width: 100%;
}

    #TopBar a.linkstyle_green, #BaseBar a.linkstyle_green {
        background-color: #339900;
        border: solid 1px #66CC33;
        color: #FFFFFF;
        float: right;
        font-size: 11px;
        font-weight: bold;
        height: 16px;
        margin-right: 3px;
        text-align: center;
        text-decoration: none;
        width: 110px;
    }

        #TopBar a.linkstyle_green:hover, #BaseBar a.linkstyle_green:hover {
            background-image: url(../../images/bkg_TopBar_Center.gif);
            border: solid 1px #99FF66;
            color: #ffffff;
            float: right;
            font-size: 11px;
            font-weight: bold;
            height: 16px;
            margin-right: 3px;
            text-align: center;
            text-decoration: underline;
            width: 110px;
        }

#GfxBar_Right .SearchPromptText, #GfxBar_Right .SearchPromptBox {
    clear: both;
    display: inline-block;
    float: right;
    color: yellow !important;
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
    height: 16px;
    width: 275px;
    margin-left: 180px;
}

#GfxBar_Right .SearchPromptText {
    padding-left: 3px;
    margin-top: 8px;
}

/*----GFXBAR-----------------------------------------------------------------------------GFXBAR--*/
#GfxBar {
    background-color: #3366CC;
    background-image: url(../../images/GfxBar_Main_Bkg_ex.jpg);
    background-repeat: repeat-x;
    border-top: solid 1px #99ff66;
    height: 50px !important;
    height: 50px;
    width: 100%;
}

#GfxBar_Left {
    background-image: url(../../images/GfxBar_Main_Left_ex.jpg);
    background-repeat: no-repeat;
    float: left;
    height: 50px !important;
    height: 50px;
    width: 258px
}

#GfxBar_Right {
    background-image: url(../../images/GfxBar_Main_Right_ex.jpg);
    background-repeat: no-repeat;
    float: right;
    height: 50px !important;
    height: 50px;
    width: 492px;
}

.pointer {
    cursor: pointer;
}

/*----TOOLBAR---------------------------------------------------------------------------TOOLBAR--*/
#ToolBar {
    background-image: url(../../images/bkg_ToolBar.gif);
    background-repeat: repeat-x;
    background-color: #CCCCCC;
    height: 24px;
    width: 100%;
}

    #ToolBar a.linkstyle_bread {
        color: #666666;
        font-weight: bold;
        text-decoration: none;
    }

        #ToolBar a.linkstyle_bread:hover {
            color: #339900;
            text-decoration: underline;
        }

    #ToolBar #BreadCrumbs {
        float: left;
        margin: 5px 0px 0px 2px;
        padding: 0px;
        width: 667px;
        text-align: left;
    }

    #ToolBar .bread_bullet {
        margin: 0px 2px 0px 2px;
    }

/*----QUICK BUTTONS-----------------------------------------------------------QUICK BUTTONS--*/
#QuickButtons {
    float: right;
    height: 22px;
    margin: 0px;
    width: 72px;
}

#QB1 a.linkstyle_quick, #QB2 a.linkstyle_quick, #QB3 a.linkstyle_quick {
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    height: 22px;
    margin-right: 2px !important;
    margin-right: 1px;
    margin-top: 1px;
    width: 21px !important;
    width: 22px;
}

#QB1 a.linkstyle_quick {
    background-image: url(../../images/indotd_qbWeather.gif);
}

    #QB1 a.linkstyle_quick:hover {
        background-image: url(../../images/indotd_qbWeather_high.gif);
    }

#QB2 a.linkstyle_quick {
    background-image: url(../../images/indotd_qbPhone.gif);
}

    #QB2 a.linkstyle_quick:hover {
        background-image: url(../../images/indotd_qbPhone_high.gif);
    }

#QB3 a.linkstyle_quick {
    background-image: url(../../images/indotd_qbLeaveSlip.gif);
}

    #QB3 a.linkstyle_quick:hover {
        background-image: url(../../images/indotd_qbLeaveSlip_high.gif);
    }

/*----SEARCH COMPONANT---------------------------------------------------------SEARCH COMPONANT--*/
#SearchComponant {
    float: right;
    height: 22px;
    margin: 0px;
    width: 350px;
}

    #SearchComponant #SC1, #SearchComponant #SC3, #SearchComponant #SC4 {
        float: right;
        height: auto;
        padding-right: 2px;
        padding-top: 3px;
    }

    #SearchComponant #SC2 {
        float: right;
        height: auto;
        padding-right: 2px;
        padding-top: 3px !important;
        padding-top: 2px;
        /*Hack padding-top all browsers except ie use what is 
	before !important, ie ignores and uses what is after it*/
    }

    #SearchComponant .search_txtbox {
        border: solid 1px #666666;
        color: #000000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        padding-left: 3px;
        width: 140px;
    }

    #SearchComponant .search_button {
        Border: none;
        font-family: Arial, Helvetica, sans-serif;
        width: 21px;
    }

.ie_spacing_fix {
    margin: 0px;
    padding: 0px;
}

/*----LEFT COLUMN-------------------------------------------------------------------LEFT COLUMN--*/
#MenuContainer {
    width: 167px;
}
/*Height set with javascript menu*/

#LeftColumn_base {
    margin-top: 1px;
    height: 10px;
    width: 167px;
    background-image: url(../../images/leftcolumn_base.gif);
    background-repeat: no-repeat;
}

/*----CENTER COLUMN---------------------------------------------------------------CENTER COLUMN--*/
#Left {
    background-image: url(../../images/center_shadow_left.gif);
    background-repeat: repeat-y;
}

#Right {
    background-image: url(../../images/center_shadow_right.gif);
    background-repeat: repeat-y;
}

.CenterContent_s1 {
    background-image: url(../../images/bkg_center.gif);
    background-repeat: repeat-y;
    padding: 10px 5px 10px 5px;
}

.CenterContent_s2, .CenterContent_s3 {
    padding: 10px;
}

/*----RIGHT COLUMN-----------------------------------------------------------------RIGHT COLUMN--*/
#RightColumn_base {
    margin-top: 1px;
    height: 10px;
    width: 189px;
    background-image: url(../../images/rightcolumn_base.gif);
    background-repeat: no-repeat;
}

/*----BASE BAR-------------------------------------------------------------------------BASE BAR--*/
#BaseBar {
    background-color: #339900;
    background-image: url(../../images/bkg_TopBar.gif);
    background-position: center;
    background-repeat: repeat-x;
    border-top: solid 1px #339900;
    border-bottom: solid 1px #339900;
    height: 20px;
    padding-top: 1px;
    width: 100%;
}

/*--COLUMN PART STYLE SECTION-----------------------------------------COLUMN PART STYLE SECTION--*/
.part_container {
    margin-top: 1px;
}

/*--COLUMN PART GENERIC----------------------------------------------------------COLUMN GENERIC--*/
#LeftColumn .HeaderTitle, #RightColumn .HeaderTitle {
    padding: 2px 2px 0px 5px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}

#CenterColumn .HeaderTitle {
    padding: 2px 2px 0px 5px;
    color: #666666;
    font-size: 12px;
    font-weight: bold;
}

#LeftColumn .Column_Header, #CenterColumn .Column_Header, #RightColumn .Column_Header {
    background-repeat: repeat-x;
    border: solid 1px #666666;
    height: 21px;
}

#LeftColumn .Column_Body, #CenterColumn .Column_Body, #RightColumn .Column_Body {
    border-bottom: solid 1px #666666;
    border-left: solid 1px #666666;
    border-right: solid 1px #666666;
    color: #666666;
    font-weight: bold;
    margin: 0px;
    padding: 5px 0px 5px 0px;
}

#LeftColumn .Column_Row, #CenterColumn .Column_Row, #RightColumn .Column_Row {
    border-bottom: dotted 1px #666666;
    height: 20px;
}

#LeftColumn a.linkstyle_left, #CenterColumn a.linkstyle_center, #RightColumn a.linkstyle_right {
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    margin: 0px;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
}

    #LeftColumn a.linkstyle_left:hover, #CenterColumn a.linkstyle_center:hover, #RightColumn a.linkstyle_right:hover {
        text-decoration: underline;
    }

#LeftColumn .list_bullet, #CenterColumn .list_bullet, #RightColumn .list_bullet {
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    height: 10px;
    padding-right: 2px;
    width: 10px;
}

/*--LEFT COLUMN PART----------------------------------------------------------------LEFT COLUMN--*/
#LeftColumn {
    background-color: #F2F2F2;
    vertical-align: top;
}

    #LeftColumn .LeftColumn_Header {
        background-color: #CCCCCC;
        background-image: url(../../images/bkg_header_green.gif);
    }

    #LeftColumn .LeftColumn_Body {
        background-color: #EAF5E5;
    }

    #LeftColumn .LeftColumn_Row_alt {
        background-color: #FFFFFF;
    }

    #LeftColumn a.LinkStyle_left {
        color: #006600;
    }

        #LeftColumn a.LinkStyle_left:hover {
            background-color: #339900;
            color: #FFFFFF;
        }

    #LeftColumn .list_bullet_green {
        background-image: url(../../images/green_bullet.gif);
        background-repeat: no-repeat;
        background-position: center;
    }

/*--CENTER COLUMN PART------------------------------------------------------------CENTER COLUMN--*/
#CenterColumn {
    background-color: #FFFFFF;
    vertical-align: top;
}

    #CenterColumn .CenterColumn_Header {
        background-color: #CCCCCC;
        background-image: url(../../images/bkg_header_grey.gif);
    }

    #CenterColumn .CenterColumn_Body {
        background-color: #FFFFFF;
    }

    #CenterColumn .CenterColumn_Row_alt {
        background-color: #F2F2F2;
    }

    #CenterColumn a.LinkStyle_center {
        color: #333333;
    }

        #CenterColumn a.LinkStyle_center:visited {
            color: #333333;
        }

        #CenterColumn a.LinkStyle_center:active {
            color: #333333;
        }

        #CenterColumn a.LinkStyle_center:hover {
            background-color: #999999;
            color: #FFFFFF;
        }

    #CenterColumn .list_bullet_grey {
        background-image: url(../../images/grey_bullet.gif);
        background-repeat: no-repeat;
        background-position: center;
    }

/*--RIGHT COLUMN PART--------------------------------------------------------------RIGHT COLUMN--*/
#RightColumn {
    background-color: #FFFFFF;
    vertical-align: top;
}

    #RightColumn .RightColumn_Header {
        background-color: #3366CC;
        background-image: url(../../images/bkg_header_blue.gif);
    }

    #RightColumn .RightColumn_Body {
        background-color: #D6E0F5;
    }

    #RightColumn .RightColumn_Row_alt {
        background-color: #FFFFFF;
    }

    #RightColumn a.LinkStyle_right {
        color: #3366CC;
    }

        #RightColumn a.LinkStyle_right:hover {
            background-color: #3366cc;
            color: #FFFFFF;
        }

    #RightColumn .list_bullet_blue {
        background-image: url(../../images/blue_bullet.gif);
        background-repeat: no-repeat;
        background-position: center;
    }


/*----MISC---------------------------------------------------------------------------------MISC--*/
.float_left {
    float: left;
}

.grey_spacer {
    border-top: solid 1px #666666;
}

.grey_spacer1 {
    border-bottom: solid 1px #cccccc;
}

.txt_format_1 {
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 2px !important;
    padding-top: 0px;
}

.txt_format_2, #BreadCrumbs a:link, #BreadCrumbs a:visited, #BreadCrumbs a:hover {
    color: #666666;
    font-size: 11px;
    font-weight: bold;
    padding-left: 5px;
}

.txt_format_bold {
    font-weight: bold;
}

.txt_format_center {
    text-align: center;
}

.txt_format_left {
    text-align: left;
}
/*
20150219 Changed breadcrumbs to include changes for href with no classes
*/
#BreadCrumbs a.noindent {
    background-image: none;
    padding-left: 5px !important;
    margin-left: 0px;
}

.txt_format_2 #BreadcCrumbs {
    padding-top: 13px;
    height: 18px !important;
    padding-top: 4px;
    overflow: visible;
}

#minwidth_fix {
    height: 1px;
    /*line-height:0px;fix for the ID height bug*/
    margin: 0px;
    padding: 0px;
    width: 750px;
}

.minwidth_fix {
    background-color: #339900;
}
/***********************************
************************************/
#GfxBarCell {
    width: 100%;
    background-image: url(../../images/GfxBar_Main_Bkg_ex.jpg);
    background-repeat: repeat-x;
}

#GfxBar_Left {
    background-image: url(../../images/GfxBar_Main_Left_ex.jpg);
    background-repeat: no-repeat;
    float: left;
    height: 50px !important;
    height: 50px;
    width: 260px
}

#GfxBar_Right {
    background-image: url(../../images/GfxBar_Main_Right_ex.jpg);
    background-repeat: no-repeat;
    float: right;
    height: 50px !important;
    height: 50px;
    width: 492px;
}

#cntdwn a, #cntdwn a:hover, #cntdwn a:visited, #cntdwn a:link {
    text-decoration: none;
}

#input_name {
    background-color: white !important;
    font-family: Arial;
    font-size: 13.3333px;
    color: black;
}

#btnPHONESearch {
    color: black;
    background-color: rgb(221, 221, 221);
    box-sizing: border-box;
    padding: 1px 6px 1px 6px;
    font-family: Arial;
    font-size: 13.3333px;
}

#BreadCrumbs a {
    background-image: url(../../images/bread.gif);
    background-position: left;
    padding-left: 18px !important;
    background-repeat: no-repeat;
    margin-left: 10px;
}
/*csss by abhishek*/
#ResponsiveTopBar {
    display: none;
}

#pnlSearch {
    text-align: right;
    margin-top: 8px;
    margin-right: 3px;
}

@media only screen and (max-width: 961px) {
    body {
        width: 100%;
        overflow: hidden !important;
    }

    #TopBar {
        display: none;
    }

    #ResponsiveTopBar {
        background-color: #339900;
        background-image: url(../../images/bkg_TopBar.gif);
        background-position: center;
        background-repeat: repeat-x;
        border-bottom: solid 1px #339900;
        border-top: solid 1px #339900;
        height: 40px;
        padding-top: 1px;
        width: 100%;
        display: block;
    }
    /*.float_left {
        float:none;
    }*/
    .top_left_side_bar {
        width: 100%;
        float: left;
        /*text-align:center;*/
    }

    .top_right_side_bar {
        width: 100%;
        float: left;
    }

    .responsive_menu {
        background-color: #339900;
        border: solid 1px #66CC33;
        color: #FFFFFF;
        float: left;
        font-size: 11px;
        font-weight: bold;
        height: 16px;
        margin-right: 3px;
        text-align: center;
        text-decoration: none;
        width: 110px;
    }
}

@media only screen and (max-width: 800px) {
    body {
        width: 100%;
        overflow: hidden !important;
    }

    #TopBar {
        display: none;
    }

    #ResponsiveTopBar {
        background-color: #339900;
        background-image: url(../../images/bkg_TopBar.gif);
        background-position: center;
        background-repeat: repeat-x;
        border-bottom: solid 1px #339900;
        border-top: solid 1px #339900;
        height: 40px;
        padding-top: 1px;
        width: 100%;
        display: block;
    }

    .float_left {
        float: none;
    }

    .top_left_side_bar {
        width: 100%;
        float: left;
        /*text-align:center;*/
    }

    .top_right_side_bar {
        width: 100%;
        float: left;
    }

    .responsive_menu {
        background-color: #339900;
        border: solid 1px #66CC33;
        color: #FFFFFF;
        float: left;
        font-size: 11px;
        font-weight: bold;
        height: 16px;
        margin-right: 3px;
        text-align: center;
        text-decoration: none;
        width: 110px;
    }

    #GfxBar_Left {
        background-image: url(../../images/GfxBar_Main_Left_ex.jpg);
        background-repeat: no-repeat;
        float: left;
        height: 50px !important;
        height: 50px;
        width: 100%;
    }

    #GfxBar_Right {
        background-image: url(../../images/GfxBar_Main_Right_ex.jpg);
        background-repeat: no-repeat;
        float: left;
        height: 50px !important;
        height: 50px;
        width: 100%;
    }

    #pnlSearch {
        text-align: left !important;
        margin-top: 8px;
        margin-right: 3px;
    }

    #GfxBar_Right .SearchPromptText, #GfxBar_Right .SearchPromptBox {
        clear: both;
        display: inline-block;
        float: left !important;
        color: yellow !important;
        font-size: 12px;
        font-weight: bold;
        /* margin: 0px; */
        height: 16px;
        width: 100%;
        margin-left: 0px !important;
    }

    #GfxBar_Right {
        background-image: url(../../images/GfxBar_Main_Right_ex.jpg);
        background-repeat: no-repeat;
        float: left;
        height: 50px !important;
        height: 50px;
        background-size: 100%;
    }

    #ToolBar #BreadCrumbs {
        float: left;
        margin: 5px 0px 0px 2px;
        padding: 0px;
        width: 300px;
        text-align: left;
    }

    #QuickButtons {
        float: left;
        height: 22px;
        margin: 0px;
        width: 72px;
    }

    #BaseBar {
        background-color: #339900;
        background-image: url(../../images/bkg_TopBar.gif);
        background-position: center;
        background-repeat: repeat-x;
        border-top: solid 1px #339900;
        border-bottom: solid 1px #339900;
        height: 40px;
        padding-top: 3px;
        width: 100%;
    }

    #lblDateTime {
        width: 20% !important;
        float: left !important;
    }

    .footer_item {
        width: 80%;
        float: left;
        margin-top: 10px;
    }

    #TopBar a.linkstyle_green, #BaseBar a.linkstyle_green {
        background-color: #339900;
        border: solid 1px #66CC33;
        color: #FFFFFF;
        float: left;
        font-size: 11px;
        font-weight: bold;
        height: 16px;
        margin-right: 3px;
        text-align: center;
        text-decoration: none;
        width: 110px;
    }
}


/*css end by abhishek*/

/*Start Css form Table*/
/*table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}*/

/*End css for table*/

    background-color: #ffffff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    height: 100%;
    margin: 0px;
    min-height: 100%;
    min-width: 800px;
    padding: 0px;
}

    html > body {
        overflow: visible;
    }

table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/*----TOPBAR-----------------------------------------------------------------------------TOPBAR--*/
#TopBar {
    background-color: #339900;
    background-image: url(/images/bkg_TopBar.gif);
    background-position: center;
    background-repeat: repeat-x;
    border-bottom: solid 1px #339900;
    border-top: solid 1px #339900;
    height: 20px;
    padding-top: 1px;
    width: 100%;
}

    #TopBar a.linkstyle_green, #BaseBar a.linkstyle_green {
        background-color: #339900;
        border: solid 1px #66CC33;
        color: #FFFFFF;
        float: right;
        font-size: 11px;
        font-weight: bold;
        height: 16px;
        margin-right: 3px;
        text-align: center;
        text-decoration: none;
        width: 110px;
    }

        #TopBar a.linkstyle_green:hover, #BaseBar a.linkstyle_green:hover {
            background-image: url(/images/bkg_TopBar_Center.gif);
            border: solid 1px #99FF66;
            color: #ffffff;
            float: right;
            font-size: 11px;
            font-weight: bold;
            height: 16px;
            margin-right: 3px;
            text-align: center;
            text-decoration: underline;
            width: 110px;
        }

#GfxBar_Right .SearchPromptText, #GfxBar_Right .SearchPromptBox {
    clear: both;
    display: inline-block;
    float: right;
    color: yellow !important;
    font-size: 12px;
    font-weight: bold;
    margin: 0px;
    height: 16px;
    width: 275px;
    margin-left: 180px;
}

#GfxBar_Right .SearchPromptText {
    padding-left: 3px;
    margin-top: 8px;
}

/*----GFXBAR-----------------------------------------------------------------------------GFXBAR--*/
#GfxBar {
    background-color: #3366CC;
    background-image: url(/images/GfxBar_Main_Bkg_ex.jpg);
    background-repeat: repeat-x;
    border-top: solid 1px #99ff66;
    height: 50px !important;
    height: 50px;
    width: 100%;
}

#GfxBar_Left {
    background-image: url(/images/GfxBar_Main_Left_ex.jpg);
    background-repeat: no-repeat;
    float: left;
    height: 50px !important;
    height: 50px;
    width: 258px
}

#GfxBar_Right {
    background-image: url(/images/GfxBar_Main_Right_ex.jpg);
    background-repeat: no-repeat;
    float: right;
    height: 50px !important;
    height: 50px;
    width: 492px;
}

.pointer {
    cursor: pointer;
}

/*----TOOLBAR---------------------------------------------------------------------------TOOLBAR--*/
#ToolBar {
    background-image: url(/images/bkg_ToolBar.gif);
    background-repeat: repeat-x;
    background-color: #CCCCCC;
    height: 24px;
    width: 100%;
}

    #ToolBar a.linkstyle_bread {
        color: #666666;
        font-weight: bold;
        text-decoration: none;
    }

        #ToolBar a.linkstyle_bread:hover {
            color: #339900;
            text-decoration: underline;
        }

    #ToolBar #BreadCrumbs {
        float: left;
        margin: 5px 0px 0px 2px;
        padding: 0px;
        width: 667px;
        text-align: left;
    }

    #ToolBar .bread_bullet {
        margin: 0px 2px 0px 2px;
    }

/*----QUICK BUTTONS-----------------------------------------------------------QUICK BUTTONS--*/
#QuickButtons {
    float: right;
    height: 22px;
    margin: 0px;
    width: 72px;
}

#QB1 a.linkstyle_quick, #QB2 a.linkstyle_quick, #QB3 a.linkstyle_quick {
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    height: 22px;
    margin-right: 2px !important;
    margin-right: 1px;
    margin-top: 1px;
    width: 21px !important;
    width: 22px;
}

#QB1 a.linkstyle_quick {
    background-image: url(/images/indotd_qbWeather.gif);
}

    #QB1 a.linkstyle_quick:hover {
        background-image: url(/images/indotd_qbWeather_high.gif);
    }

#QB2 a.linkstyle_quick {
    background-image: url(/images/indotd_qbPhone.gif);
}

    #QB2 a.linkstyle_quick:hover {
        background-image: url(/images/indotd_qbPhone_high.gif);
    }

#QB3 a.linkstyle_quick {
    background-image: url(/images/indotd_qbLeaveSlip.gif);
}

    #QB3 a.linkstyle_quick:hover {
        background-image: url(/images/indotd_qbLeaveSlip_high.gif);
    }

/*----SEARCH COMPONANT---------------------------------------------------------SEARCH COMPONANT--*/
#SearchComponant {
    float: right;
    height: 22px;
    margin: 0px;
    width: 350px;
}

    #SearchComponant #SC1, #SearchComponant #SC3, #SearchComponant #SC4 {
        float: right;
        height: auto;
        padding-right: 2px;
        padding-top: 3px;
    }

    #SearchComponant #SC2 {
        float: right;
        height: auto;
        padding-right: 2px;
        padding-top: 3px !important;
        padding-top: 2px;
        /*Hack padding-top all browsers except ie use what is 
	before !important, ie ignores and uses what is after it*/
    }

    #SearchComponant .search_txtbox {
        border: solid 1px #666666;
        color: #000000;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        padding-left: 3px;
        width: 140px;
    }

    #SearchComponant .search_button {
        Border: none;
        font-family: Arial, Helvetica, sans-serif;
        width: 21px;
    }

.ie_spacing_fix {
    margin: 0px;
    padding: 0px;
}

/*----LEFT COLUMN-------------------------------------------------------------------LEFT COLUMN--*/
#MenuContainer {
    width: 167px;
}
/*Height set with javascript menu*/

#LeftColumn_base {
    margin-top: 1px;
    height: 10px;
    width: 167px;
    background-image: url(/images/leftcolumn_base.gif);
    background-repeat: no-repeat;
}

/*----CENTER COLUMN---------------------------------------------------------------CENTER COLUMN--*/
#Left {
    background-image: url(/images/center_shadow_left.gif);
    background-repeat: repeat-y;
}

#Right {
    background-image: url(/images/center_shadow_right.gif);
    background-repeat: repeat-y;
}

.CenterContent_s1 {
    background-image: url(/images/bkg_center.gif);
    background-repeat: repeat-y;
    padding: 10px 5px 10px 5px;
}

.CenterContent_s2, .CenterContent_s3 {
    padding: 10px;
}

/*----RIGHT COLUMN-----------------------------------------------------------------RIGHT COLUMN--*/
#RightColumn_base {
    margin-top: 1px;
    height: 10px;
    width: 189px;
    background-image: url(/images/rightcolumn_base.gif);
    background-repeat: no-repeat;
}

/*----BASE BAR-------------------------------------------------------------------------BASE BAR--*/
#BaseBar {
    background-color: #339900;
    background-image: url(/images/bkg_TopBar.gif);
    background-position: center;
    background-repeat: repeat-x;
    border-top: solid 1px #339900;
    border-bottom: solid 1px #339900;
    height: 20px;
    padding-top: 1px;
    width: 100%;
}

/*--COLUMN PART STYLE SECTION-----------------------------------------COLUMN PART STYLE SECTION--*/
.part_container {
    margin-top: 1px;
}

/*--COLUMN PART GENERIC----------------------------------------------------------COLUMN GENERIC--*/
#LeftColumn .HeaderTitle, #RightColumn .HeaderTitle {
    padding: 2px 2px 0px 5px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}

#CenterColumn .HeaderTitle {
    padding: 2px 2px 0px 5px;
    color: #666666;
    font-size: 12px;
    font-weight: bold;
}

#LeftColumn .Column_Header, #CenterColumn .Column_Header, #RightColumn .Column_Header {
    background-repeat: repeat-x;
    border: solid 1px #666666;
    height: 21px;
}

#LeftColumn .Column_Body, #CenterColumn .Column_Body, #RightColumn .Column_Body {
    border-bottom: solid 1px #666666;
    border-left: solid 1px #666666;
    border-right: solid 1px #666666;
    color: #666666;
    font-weight: bold;
    margin: 0px;
    padding: 5px 0px 5px 0px;
}

#LeftColumn .Column_Row, #CenterColumn .Column_Row, #RightColumn .Column_Row {
    border-bottom: dotted 1px #666666;
    height: 20px;
}

#LeftColumn a.linkstyle_left, #CenterColumn a.linkstyle_center, #RightColumn a.linkstyle_right {
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 20px;
    margin: 0px;
    padding: 2px 5px 2px 5px;
    text-decoration: none;
}

    #LeftColumn a.linkstyle_left:hover, #CenterColumn a.linkstyle_center:hover, #RightColumn a.linkstyle_right:hover {
        text-decoration: underline;
    }

#LeftColumn .list_bullet, #CenterColumn .list_bullet, #RightColumn .list_bullet {
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    height: 10px;
    padding-right: 2px;
    width: 10px;
}

/*--LEFT COLUMN PART----------------------------------------------------------------LEFT COLUMN--*/
#LeftColumn {
    background-color: #F2F2F2;
    vertical-align: top;
}

    #LeftColumn .LeftColumn_Header {
        background-color: #CCCCCC;
        background-image: url(/images/bkg_header_green.gif);
    }

    #LeftColumn .LeftColumn_Body {
        background-color: #EAF5E5;
    }

    #LeftColumn .LeftColumn_Row_alt {
        background-color: #FFFFFF;
    }

    #LeftColumn a.LinkStyle_left {
        color: #006600;
    }

        #LeftColumn a.LinkStyle_left:hover {
            background-color: #339900;
            color: #FFFFFF;
        }

    #LeftColumn .list_bullet_green {
        background-image: url(/images/green_bullet.gif);
        background-repeat: no-repeat;
        background-position: center;
    }

/*--CENTER COLUMN PART------------------------------------------------------------CENTER COLUMN--*/
#CenterColumn {
    background-color: #FFFFFF;
    vertical-align: top;
}

    #CenterColumn .CenterColumn_Header {
        background-color: #CCCCCC;
        background-image: url(/images/bkg_header_grey.gif);
    }

    #CenterColumn .CenterColumn_Body {
        background-color: #FFFFFF;
    }

    #CenterColumn .CenterColumn_Row_alt {
        background-color: #F2F2F2;
    }

    #CenterColumn a.LinkStyle_center {
        color: #333333;
    }

        #CenterColumn a.LinkStyle_center:visited {
            color: #333333;
        }

        #CenterColumn a.LinkStyle_center:active {
            color: #333333;
        }

        #CenterColumn a.LinkStyle_center:hover {
            background-color: #999999;
            color: #FFFFFF;
        }

    #CenterColumn .list_bullet_grey {
        background-image: url(/images/grey_bullet.gif);
        background-repeat: no-repeat;
        background-position: center;
    }

/*--RIGHT COLUMN PART--------------------------------------------------------------RIGHT COLUMN--*/
#RightColumn {
    background-color: #FFFFFF;
    vertical-align: top;
}

    #RightColumn .RightColumn_Header {
        background-color: #3366CC;
        background-image: url(/images/bkg_header_blue.gif);
    }

    #RightColumn .RightColumn_Body {
        background-color: #D6E0F5;
    }

    #RightColumn .RightColumn_Row_alt {
        background-color: #FFFFFF;
    }

    #RightColumn a.LinkStyle_right {
        color: #3366CC;
    }

        #RightColumn a.LinkStyle_right:hover {
            background-color: #3366cc;
            color: #FFFFFF;
        }

    #RightColumn .list_bullet_blue {
        background-image: url(/images/blue_bullet.gif);
        background-repeat: no-repeat;
        background-position: center;
    }


/*----MISC---------------------------------------------------------------------------------MISC--*/
.float_left {
    float: left;
}

.grey_spacer {
    border-top: solid 1px #666666;
}

.grey_spacer1 {
    border-bottom: solid 1px #cccccc;
}

.txt_format_1 {
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    padding-left: 5px;
    padding-top: 2px !important;
    padding-top: 0px;
}

.txt_format_2, #BreadCrumbs a:link, #BreadCrumbs a:visited, #BreadCrumbs a:hover {
    color: #666666;
    font-size: 11px;
    font-weight: bold;
    padding-left: 5px;
}

.txt_format_bold {
    font-weight: bold;
}

.txt_format_center {
    text-align: center;
}

.txt_format_left {
    text-align: left;
}
/*
20150219 Changed breadcrumbs to include changes for href with no classes
*/
#BreadCrumbs a.noindent {
    background-image: none;
    padding-left: 5px !important;
    margin-left: 0px;
}

.txt_format_2 #BreadcCrumbs {
    padding-top: 13px;
    height: 18px !important;
    padding-top: 4px;
    overflow: visible;
}

#minwidth_fix {
    height: 1px;
    /*line-height:0px;fix for the ID height bug*/
    margin: 0px;
    padding: 0px;
    width: 750px;
}

.minwidth_fix {
    background-color: #339900;
}
/***********************************
************************************/
#GfxBarCell {
    width: 100%;
    background-image: url(/images/GfxBar_Main_Bkg_ex.jpg);
    background-repeat: repeat-x;
}

#GfxBar_Left {
    background-image: url(/images/GfxBar_Main_Left_ex.jpg);
    background-repeat: no-repeat;
    float: left;
    height: 50px !important;
    height: 50px;
    width: 260px
}

#GfxBar_Right {
    background-image: url(/images/GfxBar_Main_Right_ex.jpg);
    background-repeat: no-repeat;
    float: right;
    height: 50px !important;
    height: 50px;
    width: 492px;
}

#cntdwn a, #cntdwn a:hover, #cntdwn a:visited, #cntdwn a:link {
    text-decoration: none;
}

#input_name {
    background-color: white !important;
    font-family: Arial;
    font-size: 13.3333px;
    color: black;
}

#btnPHONESearch {
    color: black;
    background-color: rgb(221, 221, 221);
    box-sizing: border-box;
    padding: 1px 6px 1px 6px;
    font-family: Arial;
    font-size: 13.3333px;
}

#BreadCrumbs a {
    background-image: url(http://ladotnet/images/bread.gif);
    background-position: left;
    padding-left: 18px !important;
    background-repeat: no-repeat;
    margin-left: 10px;
}
/*csss by abhishek*/
#ResponsiveTopBar {
    display:none;
}
#pnlSearch {
    text-align: right;
    margin-top: 8px;
    margin-right: 3px;
}

@media only screen and (max-width: 961px) {
    body {
        
        width: 100%;
        overflow: hidden !important;
    }
    #TopBar {
        display: none;
    }
    #ResponsiveTopBar {
        background-color: #339900;
        background-image: url(/images/bkg_TopBar.gif);
        background-position: center;
        background-repeat: repeat-x;
        border-bottom: solid 1px #339900;
        border-top: solid 1px #339900;
        height: 40px;
        padding-top: 1px;
        width: 100%;
        display: block;
    }
    /*.float_left {
        float:none;
    }*/
    .top_left_side_bar {
        width:100%;
        float:left;
        /*text-align:center;*/
    }
    .top_right_side_bar {
        width: 100%;
        float: left;
       
    }
    .responsive_menu {
        background-color: #339900;
        border: solid 1px #66CC33;
        color: #FFFFFF;
        float: left;
        font-size: 11px;
        font-weight: bold;
        height: 16px;
        margin-right: 3px;
        text-align: center;
        text-decoration: none;
        width: 110px;
        
    }
    
}
@media only screen and (max-width: 800px) {
    body {
        
        width:100%;
        overflow:hidden !important;
    }

    #TopBar {
        display: none;
    }

    #ResponsiveTopBar {
        background-color: #339900;
        background-image: url(/images/bkg_TopBar.gif);
        background-position: center;
        background-repeat: repeat-x;
        border-bottom: solid 1px #339900;
        border-top: solid 1px #339900;
        height: 40px;
        padding-top: 1px;
        width: 100%;
        display: block;
    }

    .float_left {
        float: none;
    }

    .top_left_side_bar {
        width: 100%;
        float: left;
        /*text-align:center;*/
    }

    .top_right_side_bar {
        width: 100%;
        float: left;
    }

    .responsive_menu {
        background-color: #339900;
        border: solid 1px #66CC33;
        color: #FFFFFF;
        float: left;
        font-size: 11px;
        font-weight: bold;
        height: 16px;
        margin-right: 3px;
        text-align: center;
        text-decoration: none;
        width: 110px;
    }
    #GfxBar_Left {
        background-image: url(/images/GfxBar_Main_Left_ex.jpg);
        background-repeat: no-repeat;
        float: left;
        height: 50px !important;
        height: 50px;
        width: 100%;
    }
    #GfxBar_Right {
        background-image: url(/images/GfxBar_Main_Right_ex.jpg);
        background-repeat: no-repeat;
        float: left;
        height: 50px !important;
        height: 50px;
        width: 100%;
    }
    #pnlSearch {
        text-align:left !important;
        margin-top: 8px;
        margin-right: 3px;
    }
    #GfxBar_Right .SearchPromptText, #GfxBar_Right .SearchPromptBox {
        clear: both;
        display: inline-block;
         float: left !important; 
        color: yellow !important;
        font-size: 12px;
        font-weight: bold;
        /* margin: 0px; */
        height: 16px;
        width:100%;
         margin-left:0px !important;
    }
    #GfxBar_Right {
        background-image: url(/images/GfxBar_Main_Right_ex.jpg);
        background-repeat: no-repeat;
        float: left;
        height: 50px !important;
        height: 50px;
       
        background-size:100%;
    }
    #ToolBar #BreadCrumbs {
        float: left;
        margin: 5px 0px 0px 2px;
        padding: 0px;
        width: 300px;
        text-align: left;
        
    }
    #QuickButtons {
        float: left;
        height: 22px;
        margin: 0px;
        width: 72px;
    }
    #BaseBar {
        background-color: #339900;
        background-image: url(/images/bkg_TopBar.gif);
        background-position: center;
        background-repeat: repeat-x;
        border-top: solid 1px #339900;
        border-bottom: solid 1px #339900;
        height: 40px;
        padding-top: 3px;
        width: 100%;
    }
    #lblDateTime {
        width:20% !important;
        float:left !important;
    }
    .footer_item {
        width: 80%;
        float: left;
        margin-top:10px;
    }
    #TopBar a.linkstyle_green, #BaseBar a.linkstyle_green {
        background-color: #339900;
        border: solid 1px #66CC33;
        color: #FFFFFF;
        float: left;
        font-size: 11px;
        font-weight: bold;
        height: 16px;
        margin-right: 3px;
        text-align: center;
        text-decoration: none;
        width: 110px;
    }

    
}


    /*css end by abhishek*/

    /*Start Css form Table*/
    /*table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}*/

    /*End css for table*/