﻿/*-------------------------------------------------
    INDOTD_PRINT.CSS
    LAST UPDATED 20131031 
-------------------------------------------------*/
#TopBar, #BaseBar, #GfxBar, #pnlSearch, #ToolBar, #BreadCrumbs, #SearchComponant, #SC1, #SC2, #SC3, #SC4, #MenuContainer,
#LeftColumn_base, #Left, #Right, #RightColumn_base, #LeftColumn, #RightColumn {
    /*Loknath*/
    /*display: none;*/
}

    #BreadCrumbs a {
        /*Loknath*/
        /*display: none !important;*/
    }

.noprint {
    /*Loknath*/
    /*display: none;*/
}

/*----STANDARD---------------------------------------------------------------------------------*/
table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/*----DEFAULT----------------------------------------------------------------------------------*/
#Content {
    vertical-align: top;
}

    #Content a {
        color: #003399;
        text-decoration: underline;
    }

    #Content caption {
        color: #666666;
        font-size: 14px;
        font-weight: bold;
        padding: 6px 2px 6px 2px;
        text-align: left;
    }

    #Content H1 {
        border: solid 1px #666666;
        color: #003399;
        font-size: 20px;
        padding: 2px 2px 2px 4px;
    }

    #Content H2 {
        border: solid 1px #666666;
        color: #003399;
        font-size: 18px;
        padding: 2px 2px 2px 4px;
    }

    #Content H3 {
        border: solid 1px #666666;
        color: #003399;
        font-size: 16px;
        padding: 2px 2px 2px 4px;
    }

    #Content H4 {
        border: solid 1px #666666;
        color: #003399;
        font-size: 14px;
        padding: 2px 2px 2px 4px;
    }

    #Content H5 {
        border: solid 1px #666666;
        color: #003399;
        font-size: 12px;
        padding: 2px 2px 2px 4px;
    }

    #Content H6 {
        border: solid 1px #666666;
        color: #003399;
        font-size: 10px;
        padding: 2px 2px 2px 4px;
    }

    #Content hr {
        color: #CCCCCC;
        border-bottom-style: solid;
        height: 1px;
    }

    #Content fieldset {
        padding: 2px;
    }

    #Content legend {
        color: #003399;
        font-size: 12px;
        font-weight: bold;
    }

    #Content p {
        text-align: justify;
    }

    #Content table {
        border-collapse: collapse;
        border: 1px solid #666666;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding: 2px;
    }

    #Content td {
        padding: 2px;
        border-top: 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
    }

    #Content tfoot td {
        border: 1px solid #666666;
        padding: 2px;
    }

    #Content th {
        border: 1px solid #666666;
        color: #666666;
        padding: 0px 0px 0px 3px;
    }

        #Content th a:link {
            color: #003399;
            text-decoration: underline;
        }

    #Content ul {
        list-style-image: url(../../images/blue_bullet.gif);
    }

    /*----MISC-------------------------------------------------------------------------------------*/
    #Content a.linkstyle_bullet {
        color: #003399;
        height: auto;
        padding-left: 12px;
        text-decoration: underline;
        width: auto;
    }

    #Content a.linkstyle_bullet_email {
        color: #003399;
        height: auto;
        padding-left: 18px;
        text-decoration: underline;
        width: auto;
    }

    #Content a.linkstyle_darkbkg {
        color: #003399;
        text-decoration: underline;
    }

    #Content .noborder {
        border: none;
    }

    #Content .txt_format_bold {
        font-weight: bold;
    }

    #Content .txt_format_center {
        text-align: center;
    }

    #Content .txt_format_i {
        font-style: italic;
    }

    #Content .txt_format_justify {
        text-align: justify;
    }

    #Content .txt_format_left {
        text-align: left;
    }

    #Content .txt_format_right {
        text-align: right;
    }

    #Content .txt_format_u {
        text-decoration: underline;
    }

    #Content .float_left {
        float: left;
    }

    #Content .float_right {
        float: right;
    }

    #Content .float_none {
        float: none;
    }

    /*----ALT HEADERS------------------------------------------------------------------------------*/
    /*.H1-.H6 Work with the colors below to create alternate header text */
    #Content .c003399 {
        color: #003399;
    }
    /*Blue*/
    #Content .c006600 {
        color: #006600;
    }
    /*Dark Green*/
    #Content .c339900 {
        color: #339900;
    }
    /*Medium Green*/
    #Content .c666666 {
        color: #666666;
    }
    /*Dark Grey*/
    #Content .c999999 {
        color: #999999;
    }
    /*Medium Grey*/
    #Content .cCCCCCC {
        color: #CCCCCC;
    }
    /*Light Grey*/
    #Content .c990000 {
        color: #990000;
    }
    /*Critical Red*/
    #Content .cFFFFFF {
        color: #FFFFFF;
    }
    /*White*/

    #Content .H1 {
        font-size: 20px;
        font-weight: bold;
        padding: 0px 0px 0px 5px;
    }

    #Content .H2 {
        font-size: 18px;
        font-weight: bold;
        padding: 0px 0px 0px 5px;
    }

    #Content .H3 {
        font-size: 16px;
        font-weight: bold;
        padding: 0px 0px 0px 5px;
    }

    #Content .H4 {
        font-size: 14px;
        font-weight: bold;
        padding: 0px 0px 0px 5px;
    }

    #Content .H5 {
        font-size: 12px;
        font-weight: bold;
        padding: 0px 0px 0px 5px;
    }

    #Content .H6 {
        font-size: 10px;
        font-weight: bold;
        padding: 0px 0px 0px 5px;
    }

    /*----INTRANET SPECIFIC------------------------------------------------------------------------*/
    #Content .getacrobat {
        padding: 20px;
    }
    /*-----TESTING------------------------------------------------------------------------TESTING--*/
    #Content .h3_linklist {
        border: solid 1px #666666;
        height: 24px !important;
        height: 22px;
        padding: 1px 0px 1px 4px;
    }

    #Content .h3_linklist_title {
        color: #003399;
        float: left;
        font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
        font-size: 16px;
        font-weight: bold;
        padding-top: 1px !important;
        padding-top: 0px;
    }

    #Content .h3_linklist_list {
        float: right;
        font-size: 12px;
        height: 22px;
        margin: 1px 3px 0px 0px !important;
        margin: 1px 2px 0px 0px;
    }

    #Content .h3_linklist_spacer {
        display: inline;
        float: right;
        height: 21px;
        width: 2px;
    }
    /*-----------------------------------------------------------------------------------------------*/
    #Content a.linkstyle_h3_linklist_simple {
        color: #003399;
        display: inline;
        float: right;
        font-weight: bold;
        height: 18px !important;
        height: 21px;
        padding: 3px 15px 0px 15px;
        text-decoration: underline;
    }
    /*--LINKSTYLE_BUTTON-----------------------------------------------------------------------------*/
    #Content a.linkstyle_button {
        color: #666666;
        display: inline;
        float: right;
        font-size: 11px;
        font-weight: bold;
        height: 18px !important;
        height: 20px;
        margin-top: 1px;
        padding: 3px 15px 0px 15px;
        text-decoration: underline;
    }
