﻿@model ContractsAndAgreements_Domain.Dtos.AllAdvertisementDetailsDto
@{
    ViewBag.Title = "ContractAdvertisementDocument";
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Contract Advertisement Document </title>
    <link href="~/Content/Website/styles.css" rel="stylesheet" />
    <link href="~/Content/Custom/Print.css" rel="stylesheet" />
    <link href="~/Content/Custom/Default.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <style>
        body {
            display: block;
            margin: 8px;
        }
    </style>
</head>
<body text="#000000" bgcolor="#F7F7F7">

    <form action="">
        @if (@Model != null)
        {
            <b><font size="4" face="Times New Roman">ADVERTISEMENT FOR  @Model.TypeOfAdvertGoesHere</font></b><br>
            <b><font size="4" face="Times New Roman">@Model.AdvertisementDate</font></b><br>
            <br>
            <b>
                <font size="4" face="Times New Roman">
                    <br>
                    CONTRACT NO. @Model.ContractNo<br>
                    CONTRACT FOR @Model.ProjectName<br>
                    STATE PROJECT NO. @Model.StateProjectNo<br>
                    F.A.P. NO. @Model.FAPNo<br>
                    ROUTE @Model.Route<br>
                    PARISH @Model.Parish<br>
                    DBEGoal @Model.DBEGoal<br>
                    DETAILS - @Model.Details<br>

                    <br>
                    <br>
                </font>
            </b><br>
            <br />
            <br />
            @*<font face="Times New Roman">@Model.Comment1</font>
                <br />
                <br />*@
            <a href="/AgreStat.nsf/6e0a8b2ac100345a862571780059ad2e/403aef8d4e8b909c862585820069ea4e/$FILE/44-19680%20Owner%20Verification%20Services%20for%20College%20Drive%20Flyover%20Ramp%20I-10%20and%20I-12%20West%20Ad%20(A1).pdf"><img src="http://webmail.dotd.louisiana.gov/AgreStat.nsf/6e0a8b2ac100345a862571780059ad2e/403aef8d4e8b909c862585820069ea4e/AdvertAddenBody/0.15C?OpenElement&FieldElemFormat=gif" width="482" height="47" alt="44-19680 Owner Verification Services for College Drive Flyover Ramp I-10 and I-12 West Ad (A1).pdf" border="0"></a><br>
            @*<br />
                <br />
                <font face="Times New Roman">@Model.Comment2</font>
                <br />
                <br />
                <font face="Times New Roman">@Model.Comment3</font><br>*@
        }
    </form>


</body>
</html>