﻿

@{
    ViewBag.Title = "Home";
}

<html>
<head>



</head>
<body>
    <h1>PROJECT DASHBOARD</h1>
    <table id="tblPjrojectInfo" class="display table-bordered" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                @*<th>Project Portfolio</th>
                    <th>Record &Aacute; Document in Porfolio</th>
                    <th>Start Date</th>
                    <th>Processor</th>
                    <th>NTP Date</th>*@
                <th>Contract No.</th>
                <th>State Project No.</th>
                <th>F.A.P No</th>
                <th>Project Name</th>
                <th>ContractAmount</th>
                <th>DBEGoal</th>

            </tr>
        </thead>
    </table>
</body>
</html>
<script src="~/Scripts/Custom/Home.js"></script>


