﻿
@{
    ViewBag.Title = "AdvertisementDocument";
}

<form id="AdvertisementDocumentForm">
    <div id="page-wrapper" style="margin-top:-2%">
        <div class="row">
            <div class="col-lg-12" style="text-align:center">
                <h2>Advertisement Document</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a style="text-decoration:none;"><span class="glyphicon glyphicon-plus"></span>Project Information</a>
                        </h4>
                    </div>
                    <!-- /.col-lg-12 -->
                    <div id="collapse" class="panel-collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label>Advertisement Date</label>
                                    <div class="form-group">
                                        <input id="txtAdvertisementDate" name="AdvertisementDate" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Closing Date</label>
                                        <input id="txtClosingDate" name="ClosingDate" type="date" class="form-control">

                                    </div>
                                </div>


                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Advert Date goes here</label>
                                        <input id="txtAdvertDateGoes" name="ClosingDate" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Type of Advert goes here</label>
                                        @*<textarea id="txtTypeOfAdvert" name="Route" class="form-control"></textarea>*@
                                    <select id="ddlTypeOfAdvert" " name="AdvertDateGoes" class="form-control">
                                        <option value="Engineering and Related Services">Engineering and Related services</option>
                                        <option value="LTRC">LTRC</option>
                                        <option value="Real Estate">Real Estate</option>
                                    </select>

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Details</label>
                                        <textarea id="txtDetails" name="Route" class="form-control" required></textarea>
                                    </div>
                                </div>
                            </div>
                            @*<div class="row">
                                    <div class="col-lg-4">
                                        <label>Document</label>
                                        <div class="form-group">
                                            <input id="txtDocument" name="AdvertisementDate" type="file" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>DBE Goel</label>
                                            <input id="txtDBEGoel" name="DBEGoel" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value=""
                                                   data-type="percent" placeholder="%10.00" type="text" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">

                                            <input type="checkbox" name="vehicle1" value="Bike">
                                            <label for="vehicle1"> I have a bike</label><br>
                                        </div>
                                    </div>
                                </div>*@

                            <div class="row">
                                <div class="col-lg-12">
                                    <!-- /.col-lg-12 -->
                                    <div class="row">

                                        <div class="col-lg-4">
                                            <label>Contract No.</label>
                                            <div class="form-group">
                                                <input id="txtContractNo" name="ContractNo" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <label>Project Name</label>
                                            <div class="form-group">
                                                <input id="txtProjectName" name="ProjectName" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <label>State Project No.</label>
                                            <div class="form-group">
                                                <input id="txtStateProjectNo" name="StateProjectNo" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <label>FAP No.</label>
                                            <div class="form-group">
                                                <input id="txtFAPNo" name="FAPNo" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>Parish</label>
                                                <select id="ddlParish" name="Parish" class="form-control"></select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <label>Document</label>
                                            <div class="form-group">
                                                <input id="txtDocument" name="AdvertisementDate" type="file" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label>DBE Goal</label>
                                                <input id="txtDBEGoel" name="DBEGoel" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value=""
                                                       data-type="percent" placeholder="10.00%" type="text" class="form-control" required>
                                            </div>
                                        </div>
                                        </div>
                                        @*<div class="col-lg-4">
                                            <div class="form-group">

                                                <input type="checkbox" name="vehicle1" value="Bike">
                                                <label for="vehicle1"> I have a bike</label><br>
                                            </div>
                                        </div>*@
                                    </div>
                                </div>
                                <@*div class="col-lg-12">

                                    <div class="form-group">
                                        <input id="txtComment1" name="Comment1" class="form-control" placeholder="The Advertisement for the captioned project is hereby deleted and modified to read:" />
                                    </div>
                                </div>*@
                                @*<div class="col-lg-12">

                                    <div class="form-group">
                                        <input id="txtComment2" name="Comment2" class="form-control">
                                    </div>
                                </div>*@
                                @*<div class="col-lg-12">

                                    <div class="form-group">
                                        <input id="txtComment3" name="Comment3" class="form-control" placeholder="The closing date for submittal of DOTD FOrm 24-102 for Contract No. ******* is hereby changed to be submitted prior to ****PM on ****** :" />
                                    </div>
                                </div>*@


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row text-center">
            <div class="col-lg-12">
                <div class="form-group">
                    <input type="button" id="btnCancel" class="btn btn-danger" value="Close without saving">
                    <input type="button" id="btnSaveAdvertisement" value="Save & Close" class="btn btn-success">
                    <input type="button" id="btnPublish" style="display:none;" class="btn btn-primary" value="Publish to web">
                    <input type="button" id="btnUnPublish" style="display:none;" class="btn btn-primary" value="UnPublish from Web">
                </div>
            </div>
            <!-- /.col-lg-6 (nested) -->
        </div>
    </div>
</form>
@*Test Git*@ 
<script src="Scripts/Custom/AdvertisementDocument.js"></script>
