﻿
@{
    ViewBag.Title = "AdvertisementApparentSelection";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>AdvertisementSelection </title>
    <link href="~/Content/Website/styles.css" rel="stylesheet" />
    <link href="~/Content/Custom/Print.css" rel="stylesheet" />
    <link href="~/Content/Custom/Default.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
    <style>
        .Hide {
            display: none;
        }
    </style>
</head>
<body class="sb-nav-fixed">
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link collapsed" href="#" data-target="#collapseLayouts" aria-expanded="true" aria-controls="collapseLayouts">
                            Request for Qualification
                        </a>
                        <div class="collapse show" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="#">DOTD Disqualified</a>
                                <a class="nav-link" href="#"> Apparent Selections</a>
                                <a class="nav-link" href="#"> DOTD Debbarred</a>
                                <a class="nav-link" href="../Dashboard/Home"> CONTRACTS AND AGREEMENTS</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-target="#collapseLayouts1" aria-expanded="true" aria-controls="collapseLayouts1">
                            Advertisement & Selections
                        </a>
                        <div class="collapse show" id="collapseLayouts1" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="../Dashboard/WebSiteAdvertisementDashboard"> Advertisement & Addenda</a>
                                <a class="nav-link" href="../Advertisement/AdvertisementSortlist">Shortlists</a>
                                <a class="nav-link" href="../Advertisement/AdvertisementApparentSelection">Apparent Selections</a>
                                <a class="nav-link" href="../Advertisement/AdvertisementSelection">Selections</a>
                                <a class="nav-link" href="#">Projected Advertisement</a>
                            </nav>
                        </div>

                        <a class="nav-link" href="#">
                            Invoicing
                        </a>
                        <a class="nav-link" href="#">
                            Manuals,Forms & Agreements
                        </a>
                        <a class="nav-link" href="#">
                            Process & Procedures
                        </a>
                        <a class="nav-link" href="#">
                            Training
                        </a>
                    </div>
                </div>

            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid">
                    <h5 class="mt-4" style="color:red">Apparent Selections</h5>

                    <div>
                        (listed by Advertisement Date and Lead Project No.)
                    </div>


                    <div class="card mb-4 mt-4 " id="Content">
                        <div class="table-responsive">
                            <table id="tblPjrojectInfo" class="display table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>ProjectGeneralInformationId</th>
                                        <th>Project No.</th>
                                        <th>Document</th>
                                        <th>Project Name</th>
                                        <th>Parish(es)</th>
                                        @*<th>Closing Date</th>*@
                                    </tr>
                                </thead>
                            </table>

                        </div>

                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Content/Website/scripts.js"></script>
    <link href="~/Content/DataTables/datatables.min.css" rel="stylesheet" />
    <script src="~/Content/DataTables/datatables.min.js"></script>
    <script src="~/Scripts/Custom/AdvertisementApparentSelection.js"></script>


</body>
</html>


