﻿@model ContractsAndAgreements_Domain.Dtos.AllAdvertisementDetailsDto

@{
    ViewBag.Title = "AdvertisementApparentSelectionDoc";
    Layout = null;
}

<html>
<head>
    <title>Selection Info</title>

</head>
<body text="#000000" bgcolor="#F7F7F7">

    <form action="">
        @if (Model != null)
        {
            <div id="part11">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr valign="top"><td width="730"><div align="center"><b><font size="4" face="Times New Roman">APPARENT SELECTION</font></b></div></td></tr>
                    </tbody>
                </table>
            </div>
            <table border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr valign="top"><td width="730"><div align="center"><b><font size="4" face="Times New Roman">@Model.AdvertisementDate</font></b><b><font size="4" face="Times New Roman"> ADVERTISEMENT DATE</font></b></div></td></tr>
                    <tr valign="top"><td width="730"><div align="center"><b><font size="4" face="Times New Roman">@Model.ApparentSelectionDate</font></b><b><font size="4" face="Times New Roman"> APPARENT SELECTION DATE</font></b></div></td></tr>
                </tbody>
            </table>
            <div align="center"><br><br></div>
            <table border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr valign="top"><td width="734" colspan="2"><b><font size="4" face="Times New Roman">Contract No.  </font></b><b><font size="4" face="Times New Roman">@Model.ContractNo</font></b></td></tr>

                    <tr valign="top"><td width="734" colspan="2"><b><font size="4" face="Times New Roman">State Project No.  </font></b><b><font size="4" face="Times New Roman">@Model.StateProjectNo</font></b></td></tr>

                    <tr valign="top"><td width="734" colspan="2"><b><font size="4" face="Times New Roman">FAP No.  </font></b><b><font size="4" face="Times New Roman">@Model.FAPNo</font></b></td></tr>

                    <tr valign="top"><td width="734" colspan="2"><b><font size="4" face="Times New Roman">Route @Model.Route</font></b></td></tr>

                    <tr valign="top"><td width="734" colspan="2"><b><font size="4" face="Times New Roman">@Model.Parish Parish</font></b><b><font size="4" face="Times New Roman"> </font></b><b><font size="4" face="Times New Roman"></font></b></td></tr>
                </tbody>
            </table>
            <br>
            @*<font size="4" face="Times New Roman">Consultants have 72 hours from time of this posting to protest the Short list.</font>*@
            <div id="part3">
                <p>
                    <b><font size="4" face="Times New Roman">@Model.Comment1</font></b><br>
                    <br>

                    <table border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr valign="top"><td width="673"> </td></tr>

                            <tr valign="top">
                                <td width="673">
                                    <div align="center">
                                        <table border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr valign="top">
                                                    <td width="480">
                                                        <b>
                                                            <font size="4" face="Times New Roman">
                                                                @Model.Rank.  @Model.ConsultantProviderName
                                                            </font>
                                                            <br />
                                                            @foreach (var i in Model.SubTaxDetailsDto)
                                                            {
                                                                <font size="4" face="Times New Roman">Sub: @i.ConsultantProviderName</font><br>
                                                            }
                                                        </b>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div><br>
                                    <a href="/agrestat.nsf/8ef7c619c5216537862580a3005f9fa4/f6ce47b0f61b7458862584e8007ae468/$FILE/44-17430%20Apparent%20Selection%20Justification.pdf"><img src="http://webmail.dotd.louisiana.gov/agrestat.nsf/8ef7c619c5216537862580a3005f9fa4/f6ce47b0f61b7458862584e8007ae468/Text2/0.132?OpenElement&FieldElemFormat=gif" width="222" height="47" alt="44-17430 Apparent Selection Justification.pdf" border="0"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <font size="4" face="Times New Roman">@Model.Comment2</font><br>
                </p>
            </div>
            <div id="part4" style="display: none;">
                <p>
                    <br>
                    <b><font size="4" face="Times New Roman">Selection:</font></b><br>
                    <br>

                    <table border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr valign="top"><td width="673"><img width="1" height="1" src="/icons/ecblank.gif" border="0" alt=""></td></tr>

                            <tr valign="top">
                                <td width="673">
                                    <div align="center">
                                        <table border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr valign="top">
                                                    <td width="480">
                                                        <b>
                                                            <font size="4" face="Times New Roman">
                                                                2.  Hardesty &amp; Hanover, L.L.C.<br>
                                                                Sub: GOTECH, Inc.<br>
                                                                Sub: Meyer Engineers, Ltd.
                                                            </font>
                                                        </b>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>

                            <tr valign="top"><td width="673"></td></tr>
                        </tbody>
                    </table>

                </p>
            </div>
        }
    </form>


</body>
</html>