﻿@model ContractsAndAgreements_Domain.Dtos.AdvertisementShortListDocDto

@{
    ViewBag.Title = "AdvertisementSortlistDoc";
    Layout = null;
}
<html>
<head>
    <title>SHORT LIST</title>

</head>
<body text="#000000" bgcolor="#F7F7F7">

    <form action="">
        <div id="part1">
            <table border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr valign="top"><td width="730"><div align="center"><b><font size="4" face="Times New Roman">SHORT LIST</font></b></div></td></tr>
                </tbody>
            </table>
        </div>

        <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr valign="top"><td width="730"><div align="center"><b><font size="4" face="Times New Roman">@Model.AdvertisementDate</font></b><b><font size="4" face="Times New Roman"> ADVERTISEMENT DATE</font></b></div></td></tr>
                <tr valign="top"><td width="730"><div align="center"><b><font size="4" face="Times New Roman">@Model.ShortListDate</font></b><b><font size="4" face="Times New Roman"> SHORTLIST DATE</font></b></div></td></tr>
            </tbody>
        </table>
        <div align="center"><br><br></div>
        <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr valign="top"><td width="734" colspan="2"><b><font size="4" face="Times New Roman">Contract No.  </font></b><b><font size="4" face="Times New Roman">@Model.ContractNo</font></b></td></tr>

                <tr valign="top"><td width="734" colspan="2"><b><font size="4" face="Times New Roman">State Project No.  </font></b><b><font size="4" face="Times New Roman"> </font></b></td></tr>

                <tr valign="top">
                    <td width="734" colspan="2">
                        <b>
                            <font size="4" face="Times New Roman">
                                @Model.StateProjectNo
                            </font>
                        </b>
                    </td>
                </tr>

                <tr valign="top"><td width="734" colspan="2"><b><font size="4" face="Times New Roman"> </font></b></td></tr>

            </tbody>
        </table>
        <div id="part2">
            <p>
                <b><font size="4" face="Times New Roman">@Model.Comment1</font></b><br>
                <br>

                <table border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr valign="top"><td width="672"><img width="1" height="1" src="/icons/ecblank.gif" border="0" alt=""></td></tr>

                        <tr valign="top">
                            <td width="672">
                                <div align="center">
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr valign="top">
                                                <td width="480">
                                                    @*@if (Model.ShortList1 != "")
                                                            {<b><font size="4" face="Times New Roman">1. @Model.ShortList1</font></b><br>
                                                            }
                                                            @foreach (var i in Model.SubTaxDetailsDto1)
                                                            {
                                                                <font size="4" face="Times New Roman">Sub: @i.ConsultantProviderName</font><br>
                                                            }
                                                            <br>
                                                            @if (Model.ShortList2 != "")
                                                            {<b><font size="4" face="Times New Roman">2.  @Model.ShortList2</font></b><br>
                                                             }
                                                            @foreach (var j in Model.SubTaxDetailsDto2)
                                                            {
                                                                <font size="4" face="Times New Roman">Sub: @j.ConsultantProviderName</font><br>
                                                            }
                                                        <br>
                                                        @if (Model.ShortList3 != "")
                                                        {<b><font size="4" face="Times New Roman">3.  @Model.ShortList3</font></b><br>
                                                         }
                                                        @foreach (var k in Model.SubTaxDetailsDto3)
                                                        {
                                                            <font size="4" face="Times New Roman">Sub: @k.ConsultantProviderName</font><br>
                                                        }*@
                                                    @for (int i = 0; i < Model.ShortList.Count; i++)
                                                    {

                                                        var data = Model.ShortList[i];
                                                        var count = i + 1;
                                                        <b><font size="4" face="Times New Roman">@count -  @data.ShortList</font></b><br>
                                                        foreach (var item in data.SubTaxDetailsDto)
                                                        {
                                                            <font size="4" face="Times New Roman">Sub: @item.ConsultantProviderName</font><br>
                                                        }
                                                    }

                                                    @*@foreach (var k in Model.ShortList)
                                                        {
                                                            <b><font size="4" face="Times New Roman">i  @k.ShortList</font></b><br>
                                                            foreach (var item in k.SubTaxDetailsDto)
                                                            {
                                                                <font size="4" face="Times New Roman">Sub: @item.ConsultantProviderName</font><br>
                                                            }
                                                        }*@
                                                    <br>
                                                    <a href="/agrestat.nsf/4ada2d562e1f831e86257bce0043f67c/d1984673371546e486258588004692c6/$FILE/44-19165%20Detailed%20Scoring%20Breakdown.pdf"><img src="http://webmail.dotd.louisiana.gov/agrestat.nsf/4ada2d562e1f831e86257bce0043f67c/d1984673371546e486258588004692c6/ProjNoConsultList/0.1EA?OpenElement&FieldElemFormat=gif" width="209" height="47" alt="44-19165 Detailed Scoring Breakdown.pdf" border="0"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <font size="4" face="Times New Roman">@Model.Comment2</font>
            </p>
        </div>
        <div id="part3" style="display: none;">
            <p>
                <b><font size="4" face="Times New Roman">The following Consultant Firm is the apparent selection of the Secretary of DOTD.</font></b><br>
                <br>

                <table border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr valign="top"><td width="673"> </td></tr>

                        <tr valign="top">
                            <td width="673">
                                <div align="center">
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr valign="top"><td width="480"><b><font size="4" face="Times New Roman"></font></b></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </p>
        </div>
        <div id="part4" style="display: none;">
            <p>
                <br>
                <b><font size="4" face="Times New Roman">Selection:</font></b><br>
                <br>

                <table border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr valign="top"><td width="673"><img width="1" height="1" src="/icons/ecblank.gif" border="0" alt=""></td></tr>

                        <tr valign="top">
                            <td width="673">
                                <div align="center">
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr valign="top"><td width="480"><b><font size="4" face="Times New Roman">1. EBDG (Elliott Bay Design Group, L.L.C.)</font></b></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>

                        <tr valign="top"><td width="673"></td></tr>
                    </tbody>
                </table>

            </p><ul>
                <ul></ul>
            </ul>
        </div>

    </form>


</body>
</html>
