﻿@model ContractsAndAgreements_Domain.Dtos.AllAdvertisementDetailsDto

@{
    ViewBag.Title = "AdvertisementSelectionDoc";
    Layout = null;
}
<html>
<head>
    <title>Selection Info</title>
    <script language="JavaScript" type="text/javascript">
    </script>
</head>
<body text="#000000" bgcolor="#F7F7F7">

    <form action="">
        @if (Model != null)
        {
            <div id="part111">
                <table border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr valign="top"><td width="730"><div align="center"><b><font size="4" face="Times New Roman">SELECTION</font></b></div></td></tr>
                    </tbody>
                </table>
            </div>
            <table border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr valign="top"><td width="730"><div align="center"><b><font size="4" face="Times New Roman">@Model.AdvertisementDate</font></b><b><font size="4" face="Times New Roman"> ADVERTISEMENT DATE</font></b></div></td></tr>
                    <tr valign="top"><td width="730"><div align="center"><b><font size="4" face="Times New Roman">@Model.SelectionDate</font></b><b><font size="4" face="Times New Roman"> SELECTION DATE</font></b></div></td></tr>
                </tbody>
            </table>
            <div align="center"><br><br></div>
            <table border="0" cellspacing="0" cellpadding="0">
                <tbody>
                    <tr valign="top"><td width="734" colspan="2"><b><font size="4" face="Times New Roman">Contract No. </font></b><b><font size="4" face="Times New Roman">@Model.ContractNo</font></b></td></tr>

                    <tr valign="top"><td width="734" colspan="2"><b><font size="4" face="Times New Roman">State Project No.  </font></b><b><font size="4" face="Times New Roman"> </font></b></td></tr>

                    <tr valign="top">
                        <td width="734" colspan="2">
                            <b>
                                <font size="4" face="Times New Roman">
                                    @Model.StateProjectNo
                                </font>

                            </b>
                        </td>
                    </tr>

                    <tr valign="top"><td width="734" colspan="2"><b><font size="4" face="Times New Roman"> </font></b></td></tr>

                </tbody>
            </table>
            <div id="part4">
                <p>
                    <br>
                    <@*b><font size="4" face="Times New Roman">@Model.Comment1</font></b><br>*@
                    <br>

                    <table border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr valign="top"><td width="673"><img width="1" height="1" src="/icons/ecblank.gif" border="0" alt=""></td></tr>

                            <tr valign="top">
                                <td width="673">
                                    <div align="center">
                                        <table border="0" cellspacing="0" cellpadding="0">
                                            <tbody>
                                                <tr valign="top">
                                                    <td width="480">
                                                        <b>
                                                            <font size="4" face="Times New Roman">
                                                                @Model.Rank.  @Model.ConsultantProviderName
                                                            </font>
                                                            <br />
                                                            @foreach (var i in Model.SubTaxDetailsDto)
                                                            {
                                                                <font size="4" face="Times New Roman">Sub: @i.ConsultantProviderName</font><br>
                                                            }
                                                        </b>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>

                            <tr valign="top"><td width="673"></td></tr>
                        </tbody>
                    </table>
                    <br>
                    <font size="4" face="Times New Roman">@Model.Comment2</font>
                </p>
            </div>
        }
    </form>


</body>
</html>
