﻿
@{
    ViewBag.Title = "Award";
}

    <form id="AwardDocumentForm">
        @*<div id="page-wrapper" style="margin-top:-2%">
            <div class="row">
                <div class="col-lg-12" style="text-align:center">
                    <h1>Addendum Document</h1>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <input type="button" id="btnReadMode" value="Read Mode" class="btn btn-primary">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <input type="button" id="btnEditMode" value="Edit Mode" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>*@
    <div id="page-wrapper" style="margin-top:-2%">

    <div class="row">
        <div class="col-lg-12" style="text-align:center">
            <h2>AWARD DOCUMENT</h2>
        </div>
    </div>
    <div class="row" id="divLogInformationPanel">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a style="text-decoration:none;"><span class="glyphicon glyphicon-plus"></span>Log/Information</a>
                    </h4>
                </div>
                <!-- /.col-lg-12 -->
                <div id="collapse" class="panel-collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-3">
                                <div>
                                    <input type="button" id="btnAdvertisement" value="Advertisement" class="btn btn-primary">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input type="button" id="btnReadMode" value="Read Mode" class="btn btn-primary">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <input type="button" id="btnEditMode" value="Edit Mode" class="btn btn-primary">
                                </div>
                            </div>

                          
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div>
        <div>
            <div style="text-align: center;">
                <label style="color: red;">Title 39?</label>
                <input id="txtAdvertisementDate" name="AdvertisementDate">
                <label style="color: red;">leave blank if Title 48</label>
            </div>
            <div style="text-align: center; padding-right:100px;">
                <label style="color: red;">Advertisement Date</label>
                <input id="txtAdvertisementDate" name="AdvertisementDate" type="date">
            </div>
            <div style="text-align: center; padding-right: 60px;">
                <label style="color: red;">Closing Date</label>
                <input id="txtAdvertisementDate" name="AdvertisementDate" type="date">
            </div>
            <div style="text-align: center; padding-right: 125px;">
                <label style="color: red;">Ammended Closing Date</label>
                <input id="txtAdvertisementDate" name="AdvertisementDate" type="date">
            </div>
        </div>
        <div style="padding-top:15px; padding-right:50px;">
            <div style="text-align: center;">
                <label style="color: maroon;">Short List Date</label>
                <input id="txtAdvertisementDate" name="AdvertisementDate" type="date">
            </div>
            <div style="text-align: center; padding-right:50px;">
                <label style="color: maroon;">Apparent Selection Date</label>
                <input id="txtAdvertisementDate" name="AdvertisementDate" type="date">
            </div>
            <div style="text-align: center;">
                <label style="color: maroon;">Selection Date</label>
                <input id="txtAdvertisementDate" name="AdvertisementDate" type="date">
            </div>
            <div style="text-align: center;">
                <label>Post To web</label>
                <input id="txtAdvertisementDate" name="AdvertisementDate" type="radio">
                <input type="button" value="Post To Web" />
            </div>
        </div>

        <div class="panel panel-default">
            <div style="padding-left: 500px;" class="panel-heading">
                <label class="panel-title" style="font-size:20px; text-decoration:underline;">SHORT LIST</label>

                <div style="padding-top:10px;">
                    <input id="Advertisement" type="date" />
                    <label>ADVERTISEMENT DATE</label>
                </div>
            </div>
            <div style="padding:20px;">
                <div>
                    <label>Contract No.</label>
                    <input id="ContractNo." />
                </div>
                <div>
                    <label>State Project No.</label>
                    <input id="StateProjectno" />
                </div>
                <div style="padding:6px;">
                    <div class="form-group">
                        <input id="StateProjectno" />
                    </div>
                    <div>
                        <div class="form-group">
                            <input id="StateProjectno" />
                        </div>
                        <div class="form-group">
                            <input id="StateProjectno" />
                        </div>
                        <div @*style="padding:10px;"*@>
                            <input id="txtBox" name="Box3" class="form-control" value="The following short list has been prepared by the Project Evaluation Team. The names of the Firms are given in the order of ranking:" style="font-weight:bold;" />
                        </div>
                    </div>
                    <div @*style="padding-left:10px;"*@>
                        <textarea style="font-size:large;">1.</textarea>
                        <label style="font-size:15px;">Consultants have 72 hours from time of this posting to protest the Short List.</label>

                    </div>
                    <div style="padding-top:10px;" class="form-group">
                        <input id="Selection" value="SELECTION :" style="font-weight:bold;" />

                    </div>
                    <textarea style="font-size:large;">1.</textarea>
                </div>
            </div>
        </div>
    </div>
    </div>
    </form>
