﻿
@{
    ViewBag.Title = "OriginalContract";
}

<!DOCTYPE html>

<form id="OriginalContractForm">
    <div id="page-wrapper" style="margin-top:-2%">

        <div class="row">
            <div class="col-lg-12" style="text-align:center">
                <h2>Original Contract Record</h2>
            </div>
        </div>
        <!--<div class="row" id="divLogInformationPanel">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a style="text-decoration:none;"><span class="glyphicon glyphicon-plus"></span>Oprations</a>
                    </h4>
                </div>-->
        <!-- /.col-lg-12 -->
        <!--<div id="collapse" class="panel-collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <input type="button" id="btnAdvertisementDocument" value="Advertisement Document" class="btn btn-primary">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <input type="button" id="btnAddendum" value="Addendum Record" class="btn btn-primary">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>-->
        <!--Log/Information Area End-->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a style="text-decoration:none;"><span class="glyphicon glyphicon-plus"></span>Project & Contract Action Information</a>
                        </h4>
                    </div>
                    <!-- /.col-lg-12 -->
                    <div id="collapse" class="panel-collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Contract No.</label>
                                        <input id="txtContractNo" name="ContractNo" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Project Name</label>
                                        <input id="txtProjectName" name="ProjectName" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label>State Project No</label>
                                    <div class="form-group">
                                        <input id="txtStateProjectNo" name="StateProjectNo" type="text" class="form-control" required>
                                    </div>
                                </div>
                                @*<div class="col-lg-4">
            <div class="form-group">
                <label>Contract No.</label>
                <input id="txtContractNo" name="LegacySPNo" type="number" min="0" class="form-control" required >
            </div>
        </div>*@
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>F.A.P No.</label>
                                        <input id="txtFAPNo" name="FAPNo" type="text" class="form-control" required>

                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Route</label>
                                        <input id="txtRoute" name="Route" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Parish</label>
                                        <select id="ddlParish" name="Parish" class="form-control" required></select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>General Description</label>
                                        <input id="txtGeneralDescription" name="GeneralDescription" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Selection</label>
                                        <select id="ddlSelection" name="Selection" class="form-control" required></select>
                                    </div>
                                </div>

                                <div class="col-lg-4" style="padding-top: 2em;">
                                    <div class="form-group">
                                        <label>TIMED Project</label>
                                        <label class="radio-inline">
                                            <input type="radio" name="rdoTimedProject" id="rdoTimedProject1" value="1">Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="rdoTimedProject" id="rdoTimedProject2" value="0" checked>No
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-4" style="padding-top: 2em;">
                                    <div class="form-group">
                                        <label>FHWA Full Oversight?</label>
                                        <label class="radio-inline">
                                            <input type="radio" name="rdoFHWAFullOversight" id="rdoFHWAFullOversight1" value="1">Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="rdoFHWAFullOversight" id="rdoFHWAFullOversight2" value="0" checked>No
                                        </label>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Contract Type</label>
                                        <select id="ddlContractType" name="ContractType" class="form-control" required></select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Fee Type</label>
                                        <select id="ddlFeeType" name="FeeType" class="form-control" required></select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Contract Action </label>
                                        <input id="txtContractAction" name="ContractAction" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Contract Expries</label>
                                        <input id="txtContractExpries" name="ContractExpries" type="date" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Commnets</label>
                                        <input id="txtCommnets" name="Commnets" type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Project Manager</label>
                                        <select id="ddlProjectManager" name="ProjectManager" class="form-control">
                                            <option value='' selected='selected'>--Select ProjectManager--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Manager Phone</label>
                                        <input id="txtManagerPhone" type="tel" oninput="if(value.length>12)value=value.slice(0,12)" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--General Project Information Area End-->
        <!-- Inforation Area Start -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a style="text-decoration:none;"><span class="glyphicon glyphicon-plus"></span> Information</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse">
                        <div class="panel-body">
                            <div class="row">
                                @*<div class="col-lg-4">
                                        <div class="form-group">
                                            <label>TO Amount</label>
                                            <input id="txtTOAmount" name="TOAmount" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value=""
                                                   data-type="currency" placeholder="$1,000,000.00" type="text" class="form-control" />
                                        </div>
                                    </div>*@
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Contract Amount(Maximum)</label>
                                        <input id="txtContractAmount" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value=""
                                               data-type="currency" placeholder="$1,000,000.00" type="text" name="ContractAmount" class="form-control">

                                    </div>
                                </div>


                                @*<div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Prime</label>
                                            <input id="txtPrime" type="text" name="Prime" class="form-control">

                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Prime $$</label>
                                            <input id="txtPrimeAmount" name="PrimeAmount" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value=""
                                                   data-type="currency" placeholder="$1,000,000.00" type="text" class="form-control" />
                                        </div>
                                    </div>*@
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table table-striped table-bordered table-hover" id="tableSubTab">
                                        <tbody id="tbodySubTab">
                                            <tr class="odd gradeX item" id="tr0">
                                                <td>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label>Prime Consultant</label>
                                                            <select id="ddlSub0" name="Sub1" class="form-control" onchange="SetTaxId(this); return false;"></select>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label>TaxID</label>
                                                            <input id="txtTaxId0" name="TaxId0" type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label>Information Amount</label>
                                                            <input id="txtCAmount0" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value=""
                                                                   data-type="currency" placeholder="$1,000,000.00" type="text" name="CAmount0" class="form-control">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td><div class="col-lg-12"></div></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group text-right">
                                    <button type="button" id="btnAdd" class="btn btn-primary">Add Consultant</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- Information Area End -->
        <!-- Consultant Area Start -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a style="text-decoration:none;"><span class="glyphicon glyphicon-plus"></span> Work Flow Tracking</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse">
                        <div class="panel-body">
                            <div class="row">

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Supervisor</label>
                                        @*<input id="txtSupervisor" name="Supervisor" type="text" class="form-control" required />*@
                                        <select id="ddlSupervisor" name="Supervisor" class="form-control" required></select>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Processor</label>
                                        <input id="txtProcessor" type="text" name="Processor" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input id="txtPhone" type="tel" oninput="if(value.length>12)value=value.slice(0,12)" name="Phone" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Comments</label>
                                        <textarea id="txtComments" type="text" name="Comments" class="form-control"></textarea> />
                                    </div>
                                </div>
                                <div class="col-lg-4" style="padding-top: 2em;">
                                    <div class="form-group">
                                        <label>Suspended ?</label>
                                        <label class="radio-inline">
                                            <input type="radio" name="rdoSuspended" id="Suspended1" value="1">Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="rdoSuspended" id="Suspended2" value="0" checked>No
                                        </label>
                                    </div>
                                </div>


                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Info. Received. & Logged</label>
                                        <input id="txtInfoRecAndLogged" name="InfoRecAndLogged" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Task Assigned to Staff</label>
                                        <input id="txtTaskAssignedToStaff" name="TaskAssignedToStaff" type="date" class="form-control">
                                    </div>
                                </div>
                                @*<div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Chief Approval to Retain</label>
                                            <input id="txtChiefApprovaltoRetain" name="ChiefApprovaltoRetain" type="date" class="form-control">
                                        </div>
                                    </div>*@
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Draft to Supervisor</label>
                                        <input id="txtDrafttoSupervisor" name="DrafttoSupervisor" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Approved from Supervisor</label>
                                        <input id="txtApprovedfromSupervisor" name="ApprovedfromSupervisor" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Fee Package to Chief Engineer</label>
                                        <input id="txtFeePackagetoChiefEngineer" name="FeePackagetoChiefEngineer" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Approved from Fee Package to Chief Engineer</label>
                                        <input id="txtApprovedFromFeePackagetoChiefEngineer" name="ApprovedFromFeePackagetoChiefEngineer" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Fee Negotiations(To Proj Mgr)</label>
                                        <input id="txtFeeNegotiationsTOProjMgr" name="FeeNegotiationsTOProjMgr" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Complete</label>
                                        <input id="txtComplete" name="Complete" type="date" class="form-control">
                                    </div>
                                </div>
                                @*<div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Draft to FHWA</label>
                                            <input id="txtDrafttoFHWA" name="DrafttoFHWA" type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Approved from FHWA</label>
                                            <input id="txtApprovedfromFHWA" name="ApprovedfromFHWA" type="date" class="form-control">
                                        </div>
                                    </div>*@
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Fed Aide FHWA & Auth</label>
                                        <input id="txtFedAideFHWAAuth" name="FedAideFHWA&Auth" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Authorized</label>
                                        <input id="txtAuthorized" name="Authorized" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Draft To Manager For Review</label>
                                        <input id="txtDraftToManagerForReview" name="DraftToManagerForReview" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Draft To Manager For Review Concurred</label>
                                        <input id="txtDraftToManagerForReviewConcurred" name="DraftToManagerForReviewConcurred" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Draft To Consultant For Review</label>
                                        <input id="txtDraftToConsultantForReview" name="DraftToConsultantForReview" type="date" class="form-control">
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Draft To Consultant For Review Concurred</label>
                                        <input id="txtDraftToConsultantForReviewConcurred" name="DraftToConsultantForReviewConcurred" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Contract To Consultant</label>
                                        <input id="txtContractToConsultant" name="ContractToConsultant" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Signed</label>
                                        <input id="txtSigned" name="Signed" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Contract To 3rd Floor</label>
                                        <input id="txtContractTo3rdFloor" name="ContractTo3rdFloor" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Signed/Executed</label>
                                        <input id="txtSignedExecuted" name="SignedExecuted" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>NTP Letter</label>
                                        <input id="txtNTPLetter" name="NTPLetter" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>NTP Date</label>
                                        <input id="txtNTPDate" name="NTPDate" type="date" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- Consultant Area End -->
        <div class="row text-center">
            <div class="col-lg-12">
                <div class="form-group">
                    <input type="button" id="btnCancel" class="btn btn-danger" value="Close without saving">
                    <input type="button" id="btnOriginalContract" value="Save & Close" class="btn btn-success">
                </div>
            </div>
            <!-- /.col-lg-6 (nested) -->
        </div>
    </div>
</form>
<script src="~/Scripts/Custom/OriginalContract.js"></script>
