﻿@{
    ViewBag.Title = "ProjectAdvertisementSelection";
}

<style type="text/css">
    .bs-example {
        margin: 20px;
    }

    .panel-title .glyphicon {
        font-size: 12px;
    }
</style>


<form id="SelectionForm">
    <div id="page-wrapper" style="margin-top:-3%">

        <div class="row">
            <div class="col-lg-12" style="text-align:center">
                <h2>AWARD DOCUMENT</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a style="text-decoration:none;"><span class="glyphicon glyphicon-plus"></span>Project & Contract Action Information</a>
                        </h4>
                    </div>
                    <!-- /.col-lg-12 -->
                    <div id="collapse" class="panel-collapse">
                        <div class="panel-body">
                            <div class="row">
                                @*<div class="col-lg-4">
                                    <label>Title 39?</label>
                                    <div class="form-group">
                                        <input id="txtTitle39" name="txtTitle39" type="text" class="form-control" /> <label style="color: red;">leave blank if Title 48</label>
                                    </div>
                                </div>*@
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Advertisement Date</label>
                                        <input id="txtAdvertisementDate" name="txtAdvertisementDate" type="date" class="form-control" disabled />

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Closing Date</label>
                                        <input id="txtClosingDate" name="txtClosingDate" type="date" class="form-control" disabled />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Ammended Closing Date</label>
                                        <input id="txtAmmendedClosingDate" name="txtAmmendedClosingDate" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Selection Date</label>
                                        <input id="txtSelectionDate" name="txtSelectionDate" type="date" class="form-control" />
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--General Project Information Area End-->
        <!-- Consultant Area Start -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a style="text-decoration:none;"><span class="glyphicon glyphicon-plus"></span> Selection</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse">
                        <div class="panel-body">
                            <div class="row">

                                <div class="">
                                    <div class="form-group">
                                        <label>Contract No.</label>
                                        <input id="txtContractNo" name="txtContractNo" type="number" min="0" class="form-control" disabled>
                                    </div>
                                </div>

                                <div class="">
                                    <div class="form-group ">
                                        <label>State Project No.</label>
                                        <input id="txtStateProjectno" name="txtStateProjectno" type="text" class="form-control" disabled />
                                    </div>
                                </div>
                                <div class="">
                                    <div class="form-group ">
                                        <label>Subject</label>
                                        <textarea style="font-size:large;" rows="3" id="txtSubject" name="txtSubject"></textarea>
                                    </div>
                                </div>

                                <div class="col-lg-12 row">
                                    <div class="form-group col-lg-12">
                                        <textarea id="txtComment1" name="Comment1" class="form-control">The following short list has been prepared by the Project Evaluation Team. The names of the Firms are given in the order of ranking:</textarea>

                                    </div>
                                </div>
                                <div class="col-lg-12 row">
                                    <div class="form-group col-lg-12">
                                        <textarea style="font-size:15px;" id="txtComment2" name="Comment2" class="form-control">Consultants have 72 hours from time of this posting to protest the Short List.</textarea>

                                    </div>

                                </div>

                                @*<div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Minimum Man Power</label>
                                            <input id="txtMinimumManPower" name="txtMinimumManPower" type="text" class="form-control" />
                                        </div>
                                    </div>*@

                                <div class="col-lg-4">
                                    <div class="form-group ">
                                        <label>Selection :</label>
                                        <Select id="ddlSelection1" name="ddlSelection1" class="form-control"></Select>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!--General Project Information Area End-->
        <div class="row text-center">
            <div class="col-lg-12">
                <div class="form-group">
                    <div class="col-lg-1" id="dvEdit" style="visibility:hidden">
                        <div class="form-group">
                            <label>Edit</label>
                            <button type="button" id="btnEditSelection" class="form-control btn btn-success">EDIT</button>
                        </div>
                    </div>
                    <input type="button" id="btnCancel" class="btn btn-danger" value="Close without saving">
                    <input type="button" id="btnSaveSelection" class="btn btn-primary" value="Save">
                    <input type="button" id="btnPTWSelection" style="display:none" class="btn btn-primary" value="Post To Web">
                    <input type="button" id="btnUPTWSelection" style="display:none" class="btn btn-primary" value="Unpublish To Web">
                </div>
            </div>
            <!-- /.col-lg-6 (nested) -->
        </div>
    </div>
</form>

@*<script src="~/Scripts/Custom/Common.js"></script>*@
<script src="~/Scripts/Custom/ProjectAdvertisementSelection.js"></script>