﻿
@{
    ViewBag.Title = "ProjectAdvertisementShortlist";
}

<style type="text/css">
    .bs-example {
        margin: 20px;
    }

    .panel-title .glyphicon {
        font-size: 12px;
    }
</style>


<form id="ShortlistForm">
    <div id="page-wrapper" style="margin-top:-2%">
        <div class="row">
            <div class="col-lg-12" style="text-align:center">
                <h2>SHORTLIST</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a style="text-decoration:none;"><span class="glyphicon glyphicon-plus"></span>Project & Contract Action Information</a>
                        </h4>
                    </div>
                    <!-- /.col-lg-12 -->
                    <div id="collapse" class="panel-collapse">
                        <div class="panel-body">
                            <div class="row">
                                @*<div class="col-lg-4">
                                        <label>Title 39?</label>
                                        <div class="form-group">
                                            <input id="txtTitle39" name="txtTitle39" type="text" class="form-control" /> <label style="color: red;">leave blank if Title 48</label>
                                        </div>
                                    </div>*@
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Advertisement Date</label>
                                        <input id="txtAdvertisementDate" name="txtAdvertisementDate" type="date" class="form-control" disabled />

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Closing Date</label>
                                        <input id="txtClosingDate" name="txtClosingDate" type="date" class="form-control" disabled />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Ammended Closing Date</label>
                                        <input id="txtAmmendedClosingDate" name="txtAmmendedClosingDate" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Short List Date</label>
                                        <input id="txtShortListDate" name="txtShortListDate" class="form-control" type="date" />
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <input type="button" value="Get" id="btnGetShortlist" />
                                        <input type="button" value="Delete" id="btnDeleteShortList" />
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--General Project Information Area End-->
        <!-- Consultant Area Start -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a style="text-decoration:none;"><span class="glyphicon glyphicon-plus"></span> SortList</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="">
                                    <div class="form-group">
                                        <label>Contract No.</label>
                                        <input id="txtContractNo" name="txtContractNo" type="number" min="0" class="form-control" disabled>
                                    </div>
                                </div>

                                <div class="">
                                    <div class="form-group ">
                                        <label>State Project No.</label>
                                        <input id="txtStateProjectno" name="txtStateProjectno" type="text" class="form-control" disabled />
                                    </div>
                                </div>
                                <div class="">
                                    <div class="form-group ">
                                        <label>Subject</label>
                                        <textarea style="font-size:large;" rows="3" id="txtSubject" name="txtSubject"></textarea>
                                    </div>
                                </div>

                                <div class="col-lg-12 row">
                                    <div class="form-group col-md-12">
                                        <textarea id="txtComment1" name="Comment1" class="form-control" rows="2" cols="10">The following short list has been prepared by the Project Evaluation Team. The names of the Firms are given in the order of ranking:</textarea>

                                    </div>
                                </div>
                                <div class="col-lg-12 row">
                                    <div class="form-group col-md-12">
                                        <textarea id="txtComment2" name="Comment2" class="form-control" style="font-size:15px;">Consultants have 72 hours from time of this posting to protest the Short List.</textarea>

                                    </div>

                                </div>

                                <div id="dvShortList" class="col-lg-12">

                                    <div class="col-lg-4 itemlist">

                                        <div class="col-lg-12">
                                            <table class="table table-striped table-bordered table-hover SubTab" id="tableSubTab1">
                                                <tbody id="tbodySubTab1" class="listtbodySubTab">
                                                    <tr class="odd gradeX item">
                                                        <td colspan="2">
                                                            <div class="form-group">
                                                                <label>Shortlist 1:</label>
                                                                <select id="ddlShortList1" name="ddlShortList1" class="form-control ShortList" required></select>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="odd gradeX item">
                                                        <td>
                                                            <div class="col-lg-12">
                                                                <div class="form-group">
                                                                    <label>Sub #1</label>
                                                                    <select id="ddlSub1" name="Sub1" class="form-control" onchange="SetTaxId(this); return false;"></select>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td style="width: 9%">
                                                            <div class="col-lg-12" style="margin-top:20px">
                                                                <button type="button" id="btnAdd1" class="btn btn-primary" onclick="AddNewRow('1'); return false;">Get Consultant</button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="col-lg-4 itemlist">
                                        @*<div class="form-group">
                                                <label>Shortlist 2:</label>
                                                <select id="ddlShortList2" name="ddlShortList2" class="form-control ShortList" required></select>
                                            </div>*@

                                        <div class="col-lg-12">
                                            <table class="table table-striped table-bordered table-hover SubTab" id="tableSubTab2">
                                                <tbody id="tbodySubTab2" class="listtbodySubTab">
                                                    <tr class="odd gradeX item">
                                                        <td colspan="2">
                                                            <div class="form-group">
                                                                <label>Shortlist 2:</label>
                                                                <select id="ddlShortList2" name="ddlShortList2" class="form-control ShortList" required></select>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="odd gradeX item">
                                                        <td>
                                                            <div class="col-lg-12">
                                                                <div class="form-group">
                                                                    <label>Sub #1</label>
                                                                    <select id="ddlSub2" name="Sub2" class="form-control"></select>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td style="width: 9%">
                                                            <div class="col-lg-12" style="margin-top:20px">
                                                                <button type="button" id="btnAdd2" class="btn btn-primary" onclick="AddNewRow('2'); return false;">Get Consultant</button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                    <div class="col-lg-4 itemlist">
                                        @*<div class="form-group ">
                                                <label>Shortlist 3:</label>
                                                <select id="ddlShortList3" name="ddlShortList3" class="form-control ShortList" required></select>
                                            </div>*@

                                        <div class="col-lg-12">
                                            <table class="table table-striped table-bordered table-hover SubTab" id="tableSubTab3">
                                                <tbody id="tbodySubTab3" class="listtbodySubTab">
                                                    <tr class="odd gradeX item">
                                                        <td colspan="2">
                                                            <div class="form-group">
                                                                <label>Shortlist 3:</label>
                                                                <select id="ddlShortList3" name="ddlShortList3" class="form-control ShortList" required></select>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="odd gradeX item">
                                                        <td>
                                                            <div class="col-lg-12">
                                                                <div class="form-group">
                                                                    <label>Sub #1</label>
                                                                    <select id="ddlSub3" name="Sub3" class="form-control"></select>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td style="width: 9%">
                                                            <div class="col-lg-12" style="margin-top:20px">
                                                                <button type="button" id="btnAdd3" class="btn btn-primary" onclick="AddNewRow('3'); return false;">Get Consultant</button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12" style="margin-top:20px">
                                    <button type="button" id="btnAddSortList" class="btn btn-primary">Add Short List</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!--General Project Information Area End-->
        <div class="row text-center">
            <div class="col-lg-12">
                <div class="form-group">
                    <div class="col-lg-1" id="dvEdit" style="visibility:hidden">
                        <div class="form-group">
                            <label>Edit</label>
                            <button type="button" id="btnEditShortlist" class="form-control btn btn-success">EDIT</button>
                        </div>
                    </div>
                    <input type="button" id="btnCancel" class="btn btn-danger" value="Close without saving">
                    <input type="button" id="btnSave" class="btn btn-danger" value="Save">
                    <input type="button" id="btnPostToWebShortlist" class="btn btn-primary" value="Post To Web">
                </div>
            </div>
            <!-- /.col-lg-6 (nested) -->
        </div>
    </div>
</form>

@*<script src="~/Scripts/Custom/Common.js"></script>*@
<script src="~/Scripts/Custom/ProjectAdvertisementShortlist.js"></script>
