﻿
@{
    ViewBag.Title = "TaskOrder";
}



<style type="text/css">
    .bs-example {
        margin: 20px;
    }

    .panel-title .glyphicon {
        font-size: 12px;
    }
</style>


<form id="TaskOrderForm">
    <div id="page-wrapper" style="margin-top:-3%">

        <div class="row">
            <div class="col-lg-12" style="text-align:center">
                <h2>Task Order Record</h2>
            </div>
        </div>
        <div class="row" id="divLogInformationPanel">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a style="text-decoration:none;"><span class="glyphicon glyphicon-plus"></span>Oprations</a>
                        </h4>
                    </div>
                    <!-- /.col-lg-12 -->
                    <div id="collapse" class="panel-collapse">
                        <div class="panel-body">
                            <div class="row">
                                @*<div class="col-lg-3">
                                        <div class="form-group">
                                            <input type="button" id="btnAdvertisementDocument" value="Advertisement Document" class="btn btn-primary">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <input type="button" id="btnAddendum" value="Addendum Record" class="btn btn-primary">
                                        </div>
                                    </div>*@
                                @*<div class="col-lg-3">
                                        <div class="form-group">
                                            <input type="button" id="btnReadMode" value="Read Mode" class="btn btn-primary">
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="form-group">
                                            <input type="button" id="btnEditMode" value="Edit Mode" class="btn btn-primary">
                                        </div>
                                    </div>*@
                                @*<div class="col-lg-3">
                                        <div class="form-group">
                                            <input type="button" id="btnAdvertisement3" value="Advertisement3" class="btn btn-primary">
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--Log/Information Area End-->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a style="text-decoration:none;"><span class="glyphicon glyphicon-plus"></span>Project & Contract Action Information</a>
                        </h4>
                    </div>
                    <!-- /.col-lg-12 -->
                    <div id="collapse" class="panel-collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label>State Project No</label>
                                    <div class="form-group">
                                        <input id="txtStateProjectNo" name="StateProjectNo" type="text" class="form-control" required disabled>
                                    </div>
                                </div>
                                @*<div class="col-lg-4">
                                        <div class="form-group">
                                            <label>Legacy S.P.No.</label>
                                            <input id="txtLegacySPNo" name="LegacySPNo" type="text" class="form-control" required>
                                        </div>
                                    </div>*@
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>F.A.P No.</label>
                                        <input id="txtFAPNo" name="FAPNo" type="text" class="form-control" required>

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Project Name</label>
                                        <input id="txtProjectName" name="ProjectName" type="text" class="form-control" required disabled>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Route</label>
                                        <input id="txtRoute" name="Route" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Parish</label>
                                        <select id="ddlParish" name="Parish" class="form-control" required disabled></select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>General Description</label>
                                        <input id="txtGeneralDescription" name="GeneralDescription" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Selection</label>
                                        <select id="ddlSelection" name="Selection" class="form-control" required disabled></select>
                                    </div>
                                </div>
                                @*<div class="col-lg-4" style="padding-top: 2em;">
                                        <div class="form-group">
                                            <label>TIMED Project</label>
                                            <label class="radio-inline">
                                                <input type="radio" name="rdoTimedProject" id="rdoTimedProject1" value="1" disabled>Yes
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="rdoTimedProject" id="rdoTimedProject2" value="0" checked disabled>No
                                            </label>
                                        </div>
                                    </div>*@
                                <div class="col-lg-4" style="padding-top: 2em;">
                                    <div class="form-group">
                                        <label>FHWA Full Oversight?</label>
                                        <label class="radio-inline">
                                            <input type="radio" name="rdoFHWAFullOversight" id="rdoFHWAFullOversight1" value="1">Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="rdoFHWAFullOversight" id="rdoFHWAFullOversight2" value="0" checked>No
                                        </label>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Task For Project</label>
                                        <input id="txtTaskForProject" name="TaskForProject" class="form-control" required />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Task Scope</label>
                                        <input id="txtTaskScope" name="TaskScope" class="form-control" required />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Tax Classification</label>
                                        <input id="txtTaxClassification" name="TaxClassification" type="text" class="form-control" required>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Task Expiration Date</label>
                                        <input id="txtTaskExpirationDate" name="TaskExpirationDate" type="date" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Contract Expires </label>
                                        <input id="txtContractExpires" name="ContractExpires" type="date" class="form-control" required>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Comments</label>
                                        <textarea id="txtComment" name="Comment" type="text" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Project Manager</label>
                                        <select id="ddlProjectManager" name="ProjectManager" class="form-control">
                                            <option value='' selected='selected'>--Select ProjectManager--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Manager Phone</label>
                                        <input id="txtManagerPhone" type="tel" oninput="if(value.length>12)value=value.slice(0,12)" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-1" id="dvEdit" style="visibility:hidden">
                                    <div class="form-group">
                                        <label>Edit</label>
                                        <button type="button" id="btnEditTaskOrder" class="form-control btn btn-success">EDIT</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--General Project Information Area End-->
        <!-- Inforation Area Start -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a style="text-decoration:none;"><span class="glyphicon glyphicon-plus"></span> Information</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>TO Amount</label>
                                        <input id="txtTOAmount" name="TOAmount" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value=""
                                               data-type="currency" placeholder="$1,000,000.00" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Contract Amount(Maximum)</label>
                                        <input id="txtContractAmount" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value=""
                                               data-type="currency" placeholder="$1,000,000.00" type="text" name="ContractAmount" class="form-control">

                                    </div>
                                </div>


                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Prime</label>
                                        @*<input id="txtPrime" type="text" name="Prime" class="form-control">*@
                                        <select id="ddlPrime" name="Prime" class="form-control"></select>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Prime $$</label>
                                        <input id="txtPrimeAmount" name="PrimeAmount" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value=""
                                               data-type="currency" placeholder="$1,000,000.00" type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <table class="table table-striped table-bordered table-hover" id="tableSubTab">
                                        <tbody id="tbodySubTab">
                                            <tr class="odd gradeX item" id="tr0">
                                                <td>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            @*<label>Prime Contractor</label>*@
                                                            <label>Sub Contractor</label>
                                                            <select id="ddlSub0" name="Sub" class="form-control" onchange="SetTaxId(this); return false;"></select>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label>TaxID</label>
                                                            <input id="txtTaxId0" name="TaxId" type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="col-lg-12">
                                                        <div class="form-group">
                                                            <label>Contract Amount</label>
                                                            <input id="txtCAmount0" pattern="^\$\d{1,3}(,\d{3})*(\.\d+)?$" value=""
                                                                   data-type="currency" placeholder="$1,000,000.00" type="text" name="CAmount0" class="form-control">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td><div class="col-lg-12"></div></td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group text-right">
                                    <button type="button" id="btnAdd" class="btn btn-primary">Get Tax IDs</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- Information Area End -->
        <!-- Consultant Area Start -->
        <!--<div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a style="text-decoration:none;"><span class="glyphicon glyphicon-plus"></span> Work Flow Tracking</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse">
                        <div class="panel-body">
                            <div class="row">

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Supervisor</label>
                                        <select id="ddlSupervisor" name="Supervisor" class="form-control" required></select>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Processor</label>
                                        <input id="txtProcessor" type="text" name="Processor" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <input id="txtPhone" type="tel" oninput="if(value.length>12)value=value.slice(0,12)" name="Phone" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Comments</label>
                                        <textarea id="txtComments" type="text" name="Comments" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-4" style="padding-top: 2em;">
                                    <div class="form-group">
                                        <label>Suspended ?</label>
                                        <label class="radio-inline">
                                            <input type="radio" name="rdoSuspended" id="Suspended1" value="1">Yes
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="rdoSuspended" id="Suspended2" value="0" checked>No
                                        </label>
                                    </div>
                                </div>


                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Info. Received. & Logged</label>
                                        <input id="txtInfoRecAndLogged" name="InfoRecAndLogged" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Task Assigned to Staff</label>
                                        <input id="txtTaskAssignedToStaff" name="TaskAssignedToStaff" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Draft & Fee Pack to Supervisor</label>
                                        <input id="txtDraftandFeePacktoSupervisor" name="DraftandFeePacktoSupervisor" type="date" class="form-control">
                                    </div>
                                </div>



                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Approved from Supervisor</label>
                                        <input id="txtApprovedfromSupervisor" name="ApprovedfromSupervisor" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Draft & Fee Pack to Manager</label>
                                        <input id="txtDraftandFeePacktoProjectManager" name="DraftandFeePacktoProjectManager" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Concurred from Project Manager</label>
                                        <input id="txtConcurredFromProjectManager" name="ConcurredFromProjectManager" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Draft to Consultant</label>
                                        <input id="txtDrafttoConsultant" name="DrafttoConsultant" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Concurred from Consultant</label>
                                        <input id="txtConcurredFromConsultant" name="ConcurredFromConsultant" type="date" class="form-control">
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Fed Aide FHWA & Auth</label>
                                        <input id="txtFedAideFHWAAuth" name="FedAideFHWAAuth" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Authorized </label>
                                        <input id="txtAuthorized" name="Authorized" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Contract to Consultant</label>
                                        <input id="txtContractToConsultant" name="ContractToConsultant" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Signed</label>
                                        <input id="txtSigned" name="Signed" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Contract To 3rd Floor</label>
                                        <input id="txtContractTo3rdFloor" name="ContractTo3rdFloor" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Signed/Executed</label>
                                        <input id="txtSignedExecuted" name="SignedExecuted" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>NTP Letter</label>
                                        <input id="txtNTPLetter" name="NTPLetter" type="date" class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Effective Date</label>
                                        <input id="txtEffectiveDate" name="EffectiveDate" type="date" class="form-control">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>-->
        <!-- /.panel-body -->
        <!--</div>-->
        <!-- /.panel -->
        <!--</div>-->
        <!-- /.col-lg-12 -->
        <!--</div>-->
        <!-- Consultant Area End -->
        <div class="row text-center">
            <div class="col-lg-12">
                <div class="form-group">
                    <input type="button" id="btnCancel" class="btn btn-danger" value="Close without saving">
                    <input type="button" id="btnSaveTaskOrder" value="Save & Close" class="btn btn-success">
                    @* <input type="button" id="btnSaveAndAssignAdvertisement" class="btn btn-primary" value="Save & Assign to supervisor">*@
                </div>
            </div>
            <!-- /.col-lg-6 (nested) -->
        </div>
    </div>
</form>

<script src="~/Scripts/Custom/TaskOrder.js"></script>